<div class="container-xl">
	<app-loading-spinner *ngIf="loadingState"></app-loading-spinner>
	<ng-template [ngIf]="!loadingState">

	<nav class="navbar navbar-light p-0 my-3 bg-light no-gutters">
		<div class="col-6 pr-2">
			<input id="searchField" class="form-control" placeholder="Търси" (change)="updateSearch($event.target.value)" autocomplete="off" aria-label="Търсене">
			<i class="fa fa-search fa-fw text-secondary"></i>
		</div>
		<div class="col-6 pl-2">
			<div class="progress position-relative">
				<div class="progress-info" *ngIf="screensTotalCount">{{ screensWatchedCount }} / {{ screensTotalCount }}</div>
				<div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': (( screensWatchedCount / screensTotalCount ) * 100).toFixed(2) }" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</nav>

	<div class="row no-gutters mb-3">
		<div class="form-inline col-6">
			<select id="sorting" class="form-control" style="max-width: 120px;" (change)="changeSorting($event.target.value)" [value]="getSorting()">
				<option value='year'>Година</option>
				<option value='title'>Заглавие</option>
			</select>
			<label for="sorting" aria-label="Сортиране"><i class="fa fa-sort-amount-asc ml-2"></i></label>
		</div>
		<div class="ml-auto">
			<button class="btn btn-outline-secondary mr-2" type="button" data-toggle="collapse" data-target="#Filter" aria-controls="Filter" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-filter"></i> {{filtered_screens.length}}
			</button>
			<div class="btn-group ml-2">
				<button class="btn" [ngClass]="{'btn-secondary': onscreen_layout == 'list', 'btn-outline-secondary': onscreen_layout != 'list'}" aria-label="List View" (click)="changeLayout('list')"><i class="fa fa-th-list"></i></button>
				<button class="btn" [ngClass]="{'btn-secondary': onscreen_layout == 'grid', 'btn-outline-secondary': onscreen_layout != 'grid'}" aria-label="Grid View" (click)="changeLayout('grid')"><i class="fa fa-th"></i></button>
			</div>
		</div>
		<div class="navbar-collapse collapse" id="Filter">
			<ul class="navbar-nav mr-auto ">
				<li class="nav-item">
					<div class="row">
						<div class="col-6 col-md-4 col-lg-2">
							<label class="pt-2"><i class="fa fa-filter"></i> Филтър</label>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="filterSeen" class="custom-control-input" (change)="changeFilter('seen',$event.target.checked ? true : 'all')" [checked]="getFilter('seen') === true">
								<label class="custom-control-label click" for="filterSeen">Гледани</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="filterUnseen" class="custom-control-input" (change)="changeFilter('seen',$event.target.checked ? false : 'all')" [checked]="getFilter('seen') === false">
								<label class="custom-control-label click" for="filterUnseen">Негледани</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="filterRead" class="custom-control-input" (change)="changeFilter('read',$event.target.checked ? true : 'all')" [checked]="getFilter('read') === true">
								<label class="custom-control-label click" for="filterRead">Прочетени</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="filterUnread" class="custom-control-input" (change)="changeFilter('read',$event.target.checked ? false : 'all')" [checked]="getFilter('read') === false">
								<label class="custom-control-label click" for="filterUnread">Непрочетени</label>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<label class="pt-2"><i class="fa fa-asterisk"></i> Форма</label>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="filterMovies" class="custom-control-input" (change)="changeFilter('type',$event.target.checked ? 'movies' : false)" [checked]="getFilter('type') == 'movies'">
								<label class="custom-control-label click" for="filterMovies">Филми</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="filterSeries" class="custom-control-input" (change)="changeFilter('type',$event.target.checked ? 'series' : false)" [checked]="getFilter('type') === 'series'">
								<label class="custom-control-label click" for="filterSeries">Сериали</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="filterEpisodes" class="custom-control-input" (change)="changeFilter('type',$event.target.checked ? 'episodes' : false)" [checked]="getFilter('type') === 'episodes'">
								<label class="custom-control-label click" for="filterEpisodes">Епизоди</label>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>



	<!-- GRID -->
	<div class="onscreen-grid d-flex flex-wrap justify-content-between align-items-stretch mt-2 mx-n2" *ngIf="onscreen_layout  == 'grid'">
		<div class="onscreen-card" *ngFor="let screen of filtered_screens">
			<div class="onscreen-cover">
				<img class="rounded shadow-sm" src="{{screen.poster}}" alt="">
			</div>
			<div class="onscreen-title mt-2"><a [routerLink]="['/',lib.urlType(screen.type),screen.slug ? screen.slug : lib.seoUrl(screen.title)]" href="{{ '/#/'+lib.urlType(screen.type)+'/'+ (screen.slug ? screen.slug : lib.seoUrl(screen.title)) }}">{{ screen.title }}</a>&nbsp;<small class="text-secondary" *ngIf="screen.year">({{ screen.year.substring(0,4) }})</small></div>
			<div class="d-none">
			<div class="seen" style="position: absolute;top: 4px;left: 4px;">
				<span class="btn btn-sm btn-outline-secondary button-read-toggle"><i class="fa fa-fw fa-check"></i></span>
			</div>
			<span class="tv" *ngIf="screen.type == 'Сериал' || screen.type == 'Мини-сериал'" style="position: absolute;
				top: 4px;
				right: 4px;
				margin: 0;
				width: 42px;
				height: 16px;
				color: rgba(255,255,255,0.8);
				font-size: 10px;
				font-weight: bold;
				line-height: 16px;
				text-align: center;
				background-color: rgba(0,0,0,0.6);">Сериал</span>
			</div>
		</div>
	</div>

	<!-- LIST -->
	<div class="onscreen-list mt-2" *ngIf="onscreen_layout  == 'list'">
		<table class="table table-sm table-hover">
			<thead>
				<th></th>
				<th>Заглавие</th>
				<th>Рейтинг</th>
				<th><img class="rounded" src="assets/img/imdb.png" height="24"></th>
				<th><img src="assets/img/metacritics.png" height="24"></th>
				<th><img src="assets/img/rottentomatoes.png" height="24"></th>
				<th></th>
			</thead>
			<tbody>
				<tr *ngFor="let screen of filtered_screens">
					<td><img class="rounded shadow-sm" src="{{screen.poster}}" alt="" style="height: 76px;width: 51px"></td>
					<td class="align-middle position-relative">
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<a [routerLink]="['/',lib.urlType(screen.type),screen.slug ? screen.slug : lib.seoUrl(screen.title)]" href="{{ '/#/'+lib.urlType(screen.type)+'/'+ (screen.slug ? screen.slug : lib.seoUrl(screen.title)) }}">{{ screen.title }}</a>&nbsp;<small class="text-secondary" *ngIf="screen.year">({{ screen.year.substring(0,4) }})</small>
								<div class="font-smaller text-secondary" *ngIf="screen.type != 'Филм'"><small>{{ screen.type }}</small></div>
								<div class="font-smaller text-secondary" *ngIf="screen.status"><small>{{screen.status}}</small></div>
							</div>
							<img class="filter-black-white" *ngIf="screen.network" src="assets/img/networks/{{lib.seoUrl(screen.network)}}.png" style="max-height: 21px;max-width: 90px;">
						</div>
					</td>
					<td class="align-middle text-center"><small class="d-inline-block border border-secondary text-secondary px-1" *ngIf="screen.rated">{{ screen.rated }}</small></td>
					<td class="align-middle text-center"><span *ngIf="screen.imdb_rating"><i class="fa fa-star mr-1" style="color: #f5c518"></i>{{ screen.imdb_rating }}<small class="text-secondary">/10</small></span></td>
					<td class="align-middle text-center">
						<span *ngIf="screen.metascore > 60" class="rounded" style="padding: 4px 6px; color: #fff;background-color: #6c3;">
							{{screen.metascore}}
						</span>
						<span *ngIf="screen.metascore >= 40 && screen.metascore <= 60" class="rounded" style="padding: 4px 6px; color: #fff;background-color: #eeb200">
							{{screen.metascore}}
						</span>
						<span *ngIf="screen.metascore > 0 && screen.metascore < 40" class="rounded" style="padding: 4px 6px; color: #fff;background-color: #f00;">
							{{screen.metascore}}
						</span>
					</td>
					<td class="align-middle text-center">
						<div class="metascore d-flex align-items-center">
							<img src="assets/img/tomatometer_fresh.png" alt="Fresh" width="24" *ngIf="screen.rotten_tomatoes >= 60 && screen.rotten_tomatoes">
							<img src="assets/img/tomatometer_rotten.png" alt="Fresh" width="24" *ngIf="screen.rotten_tomatoes > 0 && screen.rotten_tomatoes < 60">
							<span class="ml-1" *ngIf="screen.rotten_tomatoes">{{ screen.rotten_tomatoes }}<small class="text-secondary">%</small></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</ng-template>
</div>
