[data-theme="dark"] {
	background-color: #0a1016 !important;
	color: #eee;
}
[data-theme="dark"] .bg-light,
[data-theme="dark"] .bg-white {
	background-color: #0a1016 !important;
}
[data-theme="dark"] .bg-black {
	background-color: #eee !important;
}
[data-theme="dark"] .text-secondary {
	color: #878e95 !important;
}
[data-theme="dark"] h1,
[data-theme="dark"] .table,
[data-theme="dark"] .table-hover tbody tr:hover {
	color: #eee;
}
[data-theme="dark"] .custom-control-label::before {
	background-color: #0a1016;
	border: #6c757d solid 1px;
}
[data-theme="dark"] .table-success,
[data-theme="dark"] .table-success > td,
[data-theme="dark"] .table-success > th {
	background-color: #00f73808;
}
[data-theme="dark"] .table-success tbody + tbody,
[data-theme="dark"] .table-success td,
[data-theme="dark"] .table-success th,
[data-theme="dark"] .table-success thead th {
	border-top-color: #254f2e !important;
}
[data-theme="dark"] .table-hover .table-success:hover,
[data-theme="dark"] .table-hover .table-success:hover > td,
[data-theme="dark"] .table-hover .table-success:hover > th {
	background-color: #00f7380d;
}
[data-theme="dark"] .table-hover tbody tr:hover {
    background-color: rgba(55, 54, 54, 0.15);
}
[data-theme="dark"] .table td,
[data-theme="dark"] .table th {
	border-top: 1px solid #2c2e31;
}
[data-theme="dark"] .progress {
	background-color: #343a40
}
[data-theme="dark"] .progress .bg-success {
	background-color: #236632 !important;
}
[data-theme="dark"] .modal-content {
	background-color: #0a1016;
	border: 1px solid #6c757d;
}
[data-theme="dark"] .modal-header {
	border-bottom: 1px solid #6c757d;
}
[data-theme="dark"] .close {
    color: #eee;
    text-shadow: none;
}
[data-theme="dark"] .close:hover {
    color: #fff;
}
[data-theme="dark"] .card {
	background-color: #080808;
	border: 1px solid #6c757d;
}
[data-theme="dark"] .border-top {
    border-top: 1px solid #6c757d !important;
}
[data-theme="dark"] .tab-content {
	background-color: #080808;
	border: 1px solid #6c757d;
	border-top: 0px;
}
[data-theme="dark"] .nav-tabs .nav-item.show .nav-link,
[data-theme="dark"] .nav-tabs .nav-link.active {
    color: #eee;
    background-color: #080808;
	border-color: #6c757d #6c757d #080808;
}
[data-theme="dark"] .nav-tabs {
	border-bottom: 1px solid #6c757d;
}
[data-theme="dark"] .form-control {
	background-color: #0a1016;
	color: #eee;
	border: 1px solid #6c757d;
}
[data-theme="dark"] a {
	color: #57a6fb;
}
[data-theme="dark"] a:hover {
	color: #177fee;
}

[data-theme="dark"] .dropdown-item {
	color: #212529;
}
[data-theme="dark"] .dropdown-item:hover {
	color: #212529;
}

[data-theme="dark"] .book .cover,
[data-theme="dark"] .short .cover,
[data-theme="dark"] .edition .cover {
	-webkit-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.3);
	box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.3);
}
