<div class="container-xl">
<app-loading-spinner *ngIf="loadingState"></app-loading-spinner>
<ng-template [ngIf]="!loadingState">

<ng-template #bookDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Преглед</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-book *ngIf="previewBook" [book$]='previewBook'></app-book>
  </div>
</ng-template>

<nav class="navbar navbar-light sticky-top px-0 py-2 py-md-3 bg-white" style="top: 56px !important;">
  <div class="col-6 col-sm-5 px-0">
    <input id="searchField" class="form-control" placeholder="Търси"  (change)="updateSearch($event.target.value)" autocomplete="off" aria-label="Търсене">
    <i class="fa fa-search fa-fw text-secondary"></i>
  </div>
  <div class="col-2 px-0 text-center">
    <button class="col-6 px-1 btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#sidebarFilter" aria-controls="sidebarFilter" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-filter"></i>
    </button>
  </div>
  <div class="progress col-4 col-sm-5 px-0 position-relative" style="height: 38px; font-size: 1rem;">
    <div class="progress-info" *ngIf="booksTotalCount">{{ booksReadCount }} / {{ booksTotalCount }}</div>
    <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': (( booksReadCount / booksTotalCount ) * 100).toFixed(2) }" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="navbar-collapse collapse" id="sidebarFilter">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mt-2">
        <div class="row">
          <div class="col-6 col-md-4 col-lg-3">
            <label for="sorting"><i class="fa fa-sort-amount-asc"></i> Сортиране</label>
            <select id="sorting" class="form-control" (change)="changeSorting($event.target.value)" [value]="getSorting()">
                <option value = 'published'>Първа публикация</option>
                <option value = 'title'>Заглавие</option>
                <option value = 'pages'>Страници</option>
            </select>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <label class="pt-2"><i class="fa fa-filter"></i> Филтър</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="filterHideRead" class="custom-control-input" (change)="changeFilter('no_read',$event.target.checked)" [checked]="getFilter('no_read')">
                <label class="custom-control-label click" for="filterHideRead">Непрочетени</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="filterPseudonim" class="custom-control-input" (change)="changeFilter('pseudonym', $event.target.checked)" [checked]="getFilter('pseudonym')">
                <label class="custom-control-label click" for="filterPseudonim">Под псевдоним</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="filterCoWritten" class="custom-control-input" (change)="changeFilter('co_written',$event.target.checked)" [checked]="this.getFilter('co_written')">
                <label class="custom-control-label click" for="filterCoWritten">Съавторсто</label>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <label class="pt-2"><i class="fa fa-align-justify fa-rotate-90"></i> Поредици</label>
            <div class="row pl-3">
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterBillHodges" class="custom-control-input" (change)="changeFilter('bill_hodges', $event.target.checked)" [checked]="getFilter('bill_hodges')">
                    <label class="custom-control-label click" for="filterBillHodges">Бил Ходжис</label>
                </div>
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterShining" class="custom-control-input" (change)="changeFilter('shining', $event.target.checked)" [checked]="getFilter('shining')">
                    <label class="custom-control-label click" for="filterShining">Сиянието</label>
                </div>
                <div class="custom-control custom-checkbox col-12">
                  <input type="checkbox" id="filterTalisman" class="custom-control-input" (change)="changeFilter('talisman',$event.target.checked)" [checked]="getFilter('talisman')">
                    <label class="custom-control-label click" for="filterTalisman">Талисманът</label>
                </div>
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterDarkTower" class="custom-control-input" (change)="changeFilter('dark_tower',$event.target.checked)" [checked]="getFilter('dark_tower')">
                    <label class="custom-control-label click" for="filterDarkTower">Тъмната Кула</label>
                </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <label class="pt-2"><i class="fa fa-asterisk"></i> Форма</label>
            <div class="row pl-3">
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterNovel" class="custom-control-input" (change)="changeFilter('novel', $event.target.checked)" [checked]="getFilter('novel')">
                    <label class="custom-control-label click" for="filterNovel">Роман</label>
                </div>
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterNovella" class="custom-control-input" (change)="changeFilter('novella', $event.target.checked)" [checked]="getFilter('novella')">
                    <label class="custom-control-label click" for="filterNovella">Новела</label>
                </div>
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterScreenplay" class="custom-control-input" (change)="changeFilter('screenplay', $event.target.checked)" [checked]="getFilter('screenplay')">
                    <label class="custom-control-label click" for="filterScreenplay">Сценарий</label>
                </div>
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterCollection" class="custom-control-input" (change)="changeFilter('collection', $event.target.checked)" [checked]="getFilter('collection')">
                    <label class="custom-control-label click" for="filterCollection">Сборник</label>
                </div>
                <div class="custom-control custom-checkbox col-12">
                    <input type="checkbox" id="filterNonFiction" class="custom-control-input" (change)="changeFilter('nonfiction', $event.target.checked)" [checked]="getFilter('nonfiction')">
                    <label class="custom-control-label click" for="filterNonFiction">Нехудежествена</label>
                </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <label class="pt-2"><i class="fa fa-language"></i> Българско издание</label>
            <div class="row pl-3">
                <div class="col-3 col-md-6 col-lg-6 col-xl-4 custom-control custom-checkbox">
                    <input type="checkbox" id="filterWithEditions" class="custom-control-input" (change)="changeFilter('with_editions',$event.target.checked)" [checked]="getFilter('with_editions')">
                    <label class="custom-control-label click" for="filterWithEditions">Да</label>
                </div>
                <div class="col-3 col-md-6 col-lg-6 col-xl-4 custom-control custom-checkbox">
                    <input type="checkbox" id="filterNoEditions" class="custom-control-input" (change)="changeFilter('no_editions',$event.target.checked)" [checked]="getFilter('no_editions')">
                    <label class="custom-control-label click" for="filterNoEditions">Не</label>
                </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<table class="table table-sm table-striped table-hover">
    <tbody>
        <tr *ngFor="let book of getFilteredBooks()" [ngClass]="bookClasses(book)">
            <td class="text-center align-middle">
                <button class="btn btn-sm btn-outline-secondary infoLink button-read-toggle" *ngIf="!isRead(book.book_id)" (click)="bookToggle(book,true)" aria-label="Mark as read"><i class="fa fa-fw fa-square-o"></i></button>
                <button class="btn btn-sm btn-outline-success button-read-toggle" *ngIf="isRead(book.book_id)" (click)="bookToggle(book,false)" aria-label="Marks as unread"><i class="fa fa-fw fa-check"></i></button>
            </td>
            <td class="text-center align-middle">
                <small class="text-secondary">{{ book.published.split("-")[0] }}</small>
            </td>
            <td class="align-middle">
              <small class="text-secondary ml-2 float-right d-none d-md-block" *ngIf="book.type != 'Роман'">{{ book.type }}</small>
              <div class="d-inline-block">
                  <a class="book-title" [routerLink]="[ '/book', book.book_id ]" title="{{book.book_id}}">{{ book.title }}</a>
                  <span class="text-secondary ml-2" *ngIf="book.alterations != ''"><i class="fa fa-pencil" title="{{book.alterations}}"></i></span>
                  <span class="text-secondary ml-2" *ngIf="book.note != ''"><i class="fa fa-comment-o" title="{{book.note}}"></i></span>
                  <div class="text-secondary d-flex" *ngIf="book.pseudonym"><small><i>{{book.pseudonym}} (псевдоним)</i></small></div>
                  <div class="text-secondary d-flex" *ngIf="book.co_writers"><small><i>{{book.co_writers}}</i></small></div>
              </div>
            </td>
            <td class="text-center align-middle">
              <div class="btn-group infoLink" role="group">
                <button class="btn btn-sm btn-outline-secondary" (click)="previewBook = book; open(bookDetails)" aria-label="Preview Book"><i class="fa fa-search"></i></button>
                <button class="btn btn-sm btn-outline-secondary" (click)="expandBook = (expandBook == book.book_id ? 0 : book.book_id)" aria-label="Expand Book"><i class="fa fa-expand"></i></button>
              </div>
            </td>
            <td class="bgEditions align-middle w-50">
            <ng-template [ngIf]="book.editions.length > 0" [ngIfElse]="noEditions">
                <ng-template ngFor let-edition [ngForOf]="book.editions" let-i="index">
                  <div class="row no-gutters" [ngClass]="editionClasses(edition)" *ngIf="(this.hasSelectedEdition(edition) === true && this.isEditionSelected(edition) === true) || (this.hasSelectedEdition(edition) === false && edition.group_id == 0) || expandBook == book.book_id">
                    <div class="col-12 col-sm-10 pr-1">
                        <div class="d-inline float-right" *ngIf="expandBook == book.book_id">
                          <small class="text-secondary click" *ngIf="isEditionSelected(edition)" (click)="unselectBookEdition(edition)"><i class="fa fa-check-circle text-success"></i></small>
                          <small class="text-secondary click" *ngIf="!isEditionSelected(edition)" (click)="selectBookEdition(edition)"><i class="fa fa-check-circle text-secondary"></i></small>
                        </div>
                        <div class="cover" [ngStyle]="{'background-image': 'url(assets/covers/editions/small/'+edition.edition_id+'.jpg)'}"></div>
                        <div>
                            <span class="edition-title crop-text-1" title="#{{edition.edition_id}} - {{ edition.title }}">{{ edition.title }}</span>
                            <div class="editionTranslators text-secondary" *ngIf="expandBook == book.book_id && edition.translation != ''"><small><i>{{edition.translation}}</i></small></div>
                            <div class="editionPages text-secondary" *ngIf="expandBook == book.book_id && edition.pages > 0">
                                <small><i>{{edition.pages}} стр. {{ edition.publisher }}</i></small>
                                <small class="text-secondary ml-2" *ngIf="edition.note != ''"><i class="fa fa-comment" title="{{edition.note}}"></i></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <small class="text-secondary d-none d-sm-inline">{{ edition.published.split("-")[0] }}</small>
                        <span class="infoLink float-right d-none d-md-block" *ngIf="edition.goodreads > 0"><a href="https://www.goodreads.com/book/show/{{ edition.goodreads }}" target="_blank" rel="noreferrer"><img src="assets/img/goodreads_small.png" alt="G"></a></span>
                    </div>
                  </div>
              </ng-template>
            </ng-template>
            <ng-template #noEditions>
                <small class="text-secondary"><i>Няма българско издание</i></small>
            </ng-template>
            </td>
        </tr>
    </tbody>
</table>
</ng-template>
</div>
