<div class="container-xl">
	<app-loading-spinner *ngIf="loadingState"></app-loading-spinner>
	<ng-template [ngIf]="!loadingState">

		<nav class="navbar navbar-light p-0 my-3 bg-light no-gutters">
			<div class="col-6 pr-2">
				<input id="searchField" class="form-control" placeholder="Търси" (change)="updateSearch($event.target.value)" autocomplete="off" aria-label="Търсене">
				<i class="fa fa-search fa-fw text-secondary"></i>
			</div>
			<div class="col-6 pl-2">
				<div class="progress position-relative">
					<div class="progress-info" *ngIf="booksTotalCount">{{ booksReadCount }} / {{ booksTotalCount }}</div>
					<div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': (( booksReadCount / booksTotalCount ) * 100).toFixed(2) }" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</nav>

		<div class="row no-gutters mb-3">
			<div class="form-inline col-6">
				<select id="sorting" class="form-control" style="max-width: 120px;" (change)="changeSorting($event.target.value)" [value]="getSorting()">
					<option value='published'>Издаване</option>
					<option value='title'>Заглавие</option>
					<option value='pages'>Страници</option>
				</select>
				<label for="sorting" aria-label="Сортиране"><i class="fa fa-sort-amount-asc ml-2"></i></label>
			</div>
			<div class="ml-auto">
				<button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#Filter" aria-controls="Filter" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-filter"></i> {{filtered_books.length}}
				</button>
				<div class="btn-group ml-2">
					<button class="btn btn-secondary disabled" disabled><i class="fa fa-th-list"></i></button>
					<button class="btn btn-outline-secondary disabled" aria-label="Grid View" disabled><i class="fa fa-th"></i></button>
				</div>
			</div>
			<div class="navbar-collapse collapse" id="Filter">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item mt-2">
						<div class="row">
							<div class="col-6 col-md-4 col-lg-3">
								<label class="pt-2"><i class="fa fa-filter"></i> Филтър</label>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="filterRead" class="custom-control-input" (change)="changeFilter('read',$event.target.checked ? true : 'all')" [checked]="getFilter('read') === true">
									<label class="custom-control-label click" for="filterRead">Прочетени</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="filterUnread" class="custom-control-input" (change)="changeFilter('read',$event.target.checked ? false : 'all')" [checked]="getFilter('read') === false">
									<label class="custom-control-label click" for="filterUnread">Непрочетени</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="filterPseudonim" class="custom-control-input"
										(change)="changeFilter('pseudonym', $event.target.checked)" [checked]="getFilter('pseudonym')">
									<label class="custom-control-label click" for="filterPseudonim">Под псевдоним</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="filterCoWritten" class="custom-control-input" (change)="changeFilter('co_written',$event.target.checked)" [checked]="this.getFilter('co_written')">
									<label class="custom-control-label click" for="filterCoWritten">Съавторсто</label>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-3">
								<label class="pt-2"><i class="fa fa-align-justify fa-rotate-90"></i> Поредици</label>
								<div class="row pl-3">
									<div class="custom-control custom-checkbox col-12"
										*ngFor="let series of lib.book_series">
										<input type="checkbox" class="custom-control-input" id="{{series.en}}" (change)="changeFilter('series_name', $event.target.checked ? series.en : false)" [checked]="getFilter('series_name') == series.en">
										<label class="custom-control-label" for="{{series.en}}">{{ series.bg }}</label>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-3">
								<label class="pt-2"><i class="fa fa-asterisk"></i> Форма</label>
								<div class="row pl-3">
									<div class="custom-control custom-checkbox col-12" *ngFor="let type of lib.book_types">
										<input type="checkbox" class="custom-control-input" id="{{type}}" (change)="changeFilter('type', $event.target.checked ? type : false)" [checked]="getFilter('type') == type">
										<label class="custom-control-label click" for="{{type}}">{{ type }}</label>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-3">
								<label class="pt-2"><i class="fa fa-language"></i> Българско издание</label>
								<div class="row pl-3">
									<div class="col-3 col-md-6 col-lg-6 col-xl-4 custom-control custom-checkbox">
										<input type="checkbox" id="filterWithEditions" class="custom-control-input" (change)="changeFilter('bg_editions',$event.target.checked ? true : 'all')" [checked]="getFilter('bg_editions') === true">
										<label class="custom-control-label click" for="filterWithEditions">Да</label>
									</div>
									<div class="col-3 col-md-6 col-lg-6 col-xl-4 custom-control custom-checkbox">
										<input type="checkbox" id="filterNoEditions" class="custom-control-input" (change)="changeFilter('bg_editions',$event.target.checked ? false : 'all')" [checked]="getFilter('bg_editions') === false">
										<label class="custom-control-label click" for="filterNoEditions">Не</label>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<table class="table table-sm table-hover">
			<tbody>
				<tr *ngFor="let book of filtered_books" [ngClass]="bookClasses(book)">
					<td class="text-center align-middle">
						<button class="btn btn-sm btn-outline-secondary infoLink button-read-toggle" *ngIf="!lib.isBookRead(book)" (click)="lib.bookReadToggle(book,true);updateReadCounter()" aria-label="Mark as read"><i class="fa fa-fw fa-check"></i></button>
						<button class="btn btn-sm btn-outline-success button-read-toggle" *ngIf="lib.isBookRead(book)" (click)="lib.bookReadToggle(book,false);updateReadCounter()" aria-label="Marks as unread"><i class="fa fa-fw fa-check"></i></button>
					</td>
					<td class="text-center align-middle px-0">
						<small class="text-secondary d-none d-sm-inline" *ngIf="sorting_books == 'published'">{{ lib.publishedDate(book.published) }}</small>
						<small class="text-secondary d-none d-sm-inline" *ngIf="sorting_books == 'pages'">{{ book.pages}}</small>
					</td>
					<td class="align-middle">
						<div class="media book">
							<ng-template #popContent>
								<div class="cover-full-pop"><img src="assets/covers/books/large/{{book.book_id}}.jpg" loading="lazy" alt=""></div>
							</ng-template>
							<div class="cover click" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
								<img src="assets/covers/books/small/{{book.book_id}}.jpg" loading="lazy" alt="">
							</div>
							<div class="media-body">
								<a class="book-title" ngb [routerLink]="[ '/books/'+lib.urlType(book.type)+'/', lib.seoUrl(book.title) ]">{{ book.title }}</a>
								<small class="text-secondary ml-2 float-right d-none d-md-block" *ngIf="book.type != 'Роман'">{{ book.type }}</small>
								<div class="text-secondary d-flex" *ngIf="isExpanded(book) && book.series_name != ''"><small>{{book.series_name + ' #'+ book.series_no}}</small></div>
								<div class="text-secondary d-flex" *ngIf="book.pseudonym">
									<small><i>{{book.pseudonym}} (псевдоним)</i></small></div>
								<div class="text-secondary d-flex" *ngIf="book.co_writers">
									<small><i>{{book.co_writers}}</i></small></div>
								<div class="text-secondary" *ngIf="isExpanded(book)">
								<ng-container *ngIf="book.pages; else comingBook">
									<small><i>{{book.pages}} стр. {{ book.publisher }} {{ lib.publishedDate(book.published) }}</i></small>
								</ng-container>
								<ng-template #comingBook>
									<small class="text-secondary">Предстои от {{ book.publisher }} - {{ lib.publishedDate(book.published,'first_long') }}</small>
								</ng-template>
								</div>
							</div>
						</div>
					</td>
					<td class="text-center px-0 align-middle">
						<div class="btn-group infoLink d-none d-md-inline-flex">
							<button class="btn btn-sm btn-outline-secondary" (click)="previewBook = book; openBookModal(bookDetails)" aria-label="Preview"><i class="fa fa-search"></i></button>
							<button class="btn btn-sm btn-outline-secondary" (click)="expandId = (isExpanded(book) ? 0 : book.book_id)" aria-label="Expand"><i class="fa fa-expand"></i></button>
						</div>
						<div class="btn-group-vertical infoLink d-inline-flex d-md-none">
							<button class="btn btn-sm btn-outline-secondary" (click)="previewBook = book; openBookModal(bookDetails)" aria-label="Preview"><i class="fa fa-search"></i></button>
							<button class="btn btn-sm btn-outline-secondary"(click)="expandId = (isExpanded(book) ? 0 : book.book_id)" aria-label="Expand"><i class="fa fa-expand"></i></button>
						</div>
					</td>
					<td class="bgEditions align-middle" style="width: 45%;">
						<ng-template [ngIf]="book.editions.length > 0" [ngIfElse]="noEditions">
							<ng-template ngFor let-edition [ngForOf]="book.editions" let-i="index">
								<hr class="my-1" *ngIf="isExpanded(book) && i != 0 && edition.group_id == 0">
								<div class="media edition" *ngIf="(this.lib.hasSelectedEdition(edition) === true && this.lib.isEditionSelected(edition) === true) || (this.lib.hasSelectedEdition(edition) === false && (i === 0 || edition.group_id == book.editions[0]['edition_id'])) || isExpanded(book)">
									<ng-template #popContent>
										<div class="cover-full-pop"><img src="assets/covers/editions/large/{{edition.edition_id}}.jpg" loading="lazy" alt=""></div>
									</ng-template>
									<div class="cover click" placement="left auto" [autoClose]="'outside'" [ngbPopover]="popContent">
										<img src="assets/covers/editions/small/{{edition.edition_id}}.jpg" loading="lazy" alt="">
									</div>
									<div class="media-body">
										<span class="edition-title" [ngClass]="{'crop-text-1': !isExpanded(book),'crop-text-2': isExpanded(book)}">{{ edition.title }}</span>
										<div class="text-secondary" *ngIf="isExpanded(book)">
											<ng-container *ngIf="edition.pages; else comingEdition">
												<div class="d-inline float-right">
													<span class="click" *ngIf="lib.isEditionSelected(edition)" (click)="lib.selectBookEditionToggle(edition,false)"><i class="fa fa-check-circle text-success"></i></span>
													<span class="click" *ngIf="!lib.isEditionSelected(edition)" (click)="lib.selectBookEditionToggle(edition, true)"><i class="fa fa-check-circle text-secondary"></i></span>
													<span class="infoLink ml-2 d-none d-sm-inline-block" *ngIf="edition.goodreads > 0"><a href="https://www.goodreads.com/book/show/{{ edition.goodreads }}" target="_blank" rel="noreferrer"><img src="assets/img/goodreads_small.png" alt="G"></a></span>
												</div>
												<small><i>{{edition.pages}} стр. {{ edition.publisher }} {{ lib.publishedDate(edition.published) }}</i></small>
											</ng-container>
											<ng-template #comingEdition>
												<small class="text-secondary">Предстои от {{ edition.publisher }} - {{ lib.publishedDate(edition.published,'first_long') }}</small>
											</ng-template>
										</div>
										<div class="text-secondary d-none d-sm-inline-flex" *ngIf="isExpanded(book) && edition.translation != ''"><small><i>{{edition.translation}}</i></small></div>
									</div>
								</div>
							</ng-template>
						</ng-template>
						<ng-template #noEditions>
							<small class="text-secondary"><i>Няма българско издание</i></small>
						</ng-template>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-template>
</div>

<ng-template #bookDetails let-modal>
	<div class="modal-header py-2">
		<h4 class="modal-title" id="modal-basic-title">Преглед</h4>
		<button type="button" class="close mt-0 mr-n2 px-3 py-1" aria-label="Close" (click)="modal.dismiss()">
			<span class="align-text-top" aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body p-2">
		<app-book *ngIf="previewBook" [book$]='previewBook'></app-book>
	</div>
</ng-template>
