<div class="container-fluid">
	<div class="row">
		<div class="col-2 bg-light-gray border-right">
			<table class="table sticky-top top56">
				<thead>
					<tr>
						<th><i class="fa fa-database mr-2"></i> База данни</th>
						<th><i class="fa fa-refresh text-secondary click" (click)="loadData()" *ngIf="!books$ || !editions$ || !shorts$ || !book_shorts$ || !edition_shorts$"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="fa fa-book mr-2"></i> Книги</td>
						<td>
							<span class="text-secondary" *ngIf="books$ ; else loadBooks">{{ books$.length }}</span><ng-template #loadBooks><i class="fa fa-refresh text-secondary click" (click)="loadData('books')"></i></ng-template>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-language mr-2"></i> Издания</td>
						<td>
							<span class="text-secondary" *ngIf="editions$ ; else loadEditions">{{ editions$.length }}</span><ng-template #loadEditions><i class="fa fa-refresh text-secondary click" (click)="loadData('editions')"></i></ng-template>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-file-o mr-2"></i> Разкази</td>
						<td>
							<span class="text-secondary" *ngIf="shorts$ ; else loadShorts">{{ shorts$.length }}</span><ng-template #loadShorts><i class="fa fa-refresh text-secondary click" (click)="loadData('shorts')"></i></ng-template>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-film mr-2"></i> Екранизации</td>
						<td>
							<span class="text-secondary" *ngIf="screens$ ; else loadScreens">{{ screens$.length }}</span><ng-template #loadScreens><i class="fa fa-refresh text-secondary click" (click)="loadData('screens')"></i></ng-template>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-link"></i><i class="fa fa-book mr-2"></i> Книги - Разкази</td>
						<td>
							<span class="text-secondary" *ngIf="book_shorts$  ; else loadBookShorts">{{ book_shorts$.length }}</span><ng-template #loadBookShorts><i class="fa fa-refresh text-secondary click" (click)="loadData('book-shorts')"></i></ng-template>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-link"></i><i class="fa fa-language mr-2"></i> Издания - Разкази</td>
						<td>
							<span class="text-secondary" *ngIf="edition_shorts$  ; else loadEditionShorts">{{ edition_shorts$.length }}</span><ng-template #loadEditionShorts><i class="fa fa-refresh text-secondary click" (click)="loadData('edition-shorts')"></i></ng-template>
						</td>
					</tr>
					<tr>
						<td><i class="fa fa-link"></i><i class="fa fa-film mr-2"></i> Връзки екранизации</td>
						<td>
							<span class="text-secondary" *ngIf="screen_connections$  ; else loadScreenConnections">{{ screen_connections$.length }}</span><ng-template #loadScreenConnections><i class="fa fa-refresh text-secondary click" (click)="loadData('screen-connections')"></i></ng-template>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-10">
			<div class="row sticky-top py-2 px-3 bg-light top56">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link click" [ngClass]="{'active': showBooks}" (click)="changeSection('books')">Книги</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click" [ngClass]="{'active': showEditions}" (click)="changeSection('editions')">Издания</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click" [ngClass]="{'active': showShorts}" (click)="changeSection('shorts')">Разкази</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click" [ngClass]="{'active': showScreens}" (click)="changeSection('screens')">Екранизации</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle click" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">Добави</a>
						<div class="dropdown-menu">
							<a class="dropdown-item click" *ngIf="books$" (click)="editBook(null);openModal(modalForms)">Книга</a>
							<a class="dropdown-item click" *ngIf="editions$" (click)="editEdition(null);openModal(modalForms)">Издание</a>
							<a class="dropdown-item click" *ngIf="shorts$" (click)="editShort(null);openModal(modalForms)">Разказ</a>
							<a class="dropdown-item click" *ngIf="screens$" (click)="editScreen(null);openModal(modalForms)">Екранизация</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item click" *ngIf="books$ && shorts$" (click)="editBookShort(null);openModal(modalForms)">Книга-Разказ</a>
							<a class="dropdown-item click" *ngIf="editions$ && shorts$" (click)="editEditionShort(null);openModal(modalForms)">Издание-Разказ</a>
							<a class="dropdown-item click" *ngIf="books$ && shorts$ && screens$" (click)="editScreenConnection(null);openModal(modalForms)">Екранизация-Връзка</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link click" [ngClass]="{'active': showData}" (click)="changeSection('data')">Данни</a>
					</li>
				</ul>
				<button class="btn btn-warning" (click)="updateCustom()" [hidden]="true">Обнови (custom)</button>
			</div>
			<!-- ТАБЛИЦА КНИГИ -->
			<table class="table table-sm table-striped table-hover" *ngIf="showBooks && books$">
				<thead>
					<tr>
						<th>#</th>
						<th>Издадена</th>
						<th>Заглавие</th>
						<th>Стр.</th>
						<th></th>
						<th style="width: 40%;"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let book of books$">
						<td class="text-secondary text-center">
							{{book.book_id}}
						</td>
						<td>
							<div class="text-secondary">{{ book.published }}</div>
							<small class="text-secondary d-inline-flex">{{ book.publisher }}</small>
						</td>
						<td>
							<small class="text-secondary ml-2 float-right" *ngIf="book.type != 'Роман'">{{ book.type }}</small>
							<div style="display: inline-block">
								<div class="media book">
									<ng-template #popContent>
										<div style="text-align: center;"><img src="assets/covers/books/large/{{book.book_id}}.jpg" style="max-width: 340px;max-height: 500px"></div>
									</ng-template>
									<div class="cover click" [ngStyle]="{'background-image': 'url(assets/covers/books/small/'+book.book_id+'.jpg)'}" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent"></div>
									<div class="media-body">
										<span class="book-title" title="{{book.book_id}}">{{ book.title }}</span>
										<div class="text-secondary" style="display: flex;" *ngIf="book.pseudonym"><small><i>{{book.pseudonym}} (псевдоним)</i></small></div>
										<div class="text-secondary" style="display: flex;" *ngIf="book.co_writers"><small><i>{{book.co_writers}}</i></small></div>
										<div class="text-secondary" style="display: flex;" *ngIf="book.series_name"><small>{{ book.series_name + ' #'+ book.series_no }}</small></div>
										<div *ngIf="getBookShorts(book) as shorts">
											<small>
												<a class="font-smaller" data-toggle="collapse" href="#bookShorts{{book.book_id}}" aria-expanded="false" attr.aria-controls="bookShorts{{book.book_id}}" *ngIf="shorts.length > 0">
													Разкази ({{ shorts.length }})
												</a>
											</small>
											<div class="collapse" id="bookShorts{{book.book_id}}" *ngIf="shorts.length > 0">
												<table class="table table-sm mt-2">
													<tr *ngFor="let short of shorts">
														<td>{{  short.position }}</td>
														<td class="text-secondary">
															<i class="fa fa-wrench click float-right ml-2" (click)="editBookShort(short);openModal(modalForms)"></i>
															{{ getShort(short.short_id).title }}
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td class="text-center">
							<span class="text-secondary">{{ book.pages }}</span>
						</td>
						<td>
							<span class="infoLink" *ngIf="book.official_site"><a href="https://stephenking.com/works/{{ book.official_site }}" target="_blank"><img src="assets/img/sk_official_32.png" width="16" alt="SK"></a></span>
							<span class="infoLink" *ngIf="book.wikipedia"><a href="https://en.wikipedia.org/wiki/{{ book.wikipedia }}" target="_blank"><img src="assets/img/wikipedia_small.png" alt="W"></a></span>
							<span class="infoLink" *ngIf="book.goodreads > 0"><a href="https://www.goodreads.com/book/show/{{ book.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G"></a></span>
							<i class="fa fa-wrench click ml-2" (click)="editBook(book);openModal(modalForms)"></i>
						</td>
						<td>
							<small class="text-secondary">{{ book.alterations }}</small>
							<div *ngIf="getBookEditions(book) as editions">
								<small>
									<a class="font-smaller" data-toggle="collapse" href="#bookEditions{{book.book_id}}" aria-expanded="false" attr.aria-controls="bookEditions{{book.book_id}}" *ngIf="editions.length > 0">
										Издания ({{ editions.length }})
									</a>
								</small>
								<div class="collapse" id="bookEditions{{book.book_id}}" *ngIf="editions.length > 0">
									<div class="media edition mt-1" *ngFor="let edition of editions">
										<ng-template #popContent>
											<div class="cover-full-pop"><img src="assets/covers/editions/large/{{edition.edition_id}}.jpg"></div>
										</ng-template>
										<div class="cover click" [ngStyle]="{'background-image': 'url(assets/covers/editions/small/'+edition.edition_id+'.jpg)'}" placement="left auto" [autoClose]="'outside'" [ngbPopover]="popContent"></div>
										<div class="media-body">
											<div class="float-right">
												<i class="fa fa-wrench click mr-2" (click)="editEdition(edition);openModal(modalForms)"></i>
												<span *ngIf="edition.goodreads > 0"><a href="https://www.goodreads.com/book/show/{{ edition.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G"></a></span>
											</div>
											<span title="{{ edition.edition_id }}">{{ edition.title }}</span>
											<i class="fa fa-paperclip text-secondary ml-2" *ngIf="edition.group_id != 0" title="{{ edition.group_id }}"></i>
											<small class="text-secondary">
												<div>{{ edition.published.split("-")[0] }} {{ edition.publisher }} ({{ edition.pages }})</div>
												<div>{{ edition.translation }} <span class="text-secondary ml-2" *ngIf="edition.note != ''"><i class="fa fa-comment-o"  title="{{edition.note}}"></i></span></div>
											</small>
										</div>
									</div>
								</div>
							</div>
							<div class="text-secondary" *ngIf="book.notes"><i class="fa fa-comments"></i> {{ book.notes }}</div>
							<div *ngIf="book.synopsis">
								<small>
									<a class="font-smaller" data-toggle="collapse" href="#bookSynopsis{{book.book_id}}" aria-expanded="false" attr.aria-controls="bookSynopsis{{book.book_id}}">
										Синопсис
									</a>
								</small>
								<div class="collapse synopsis text-secondary font-italic" id="bookSynopsis{{book.book_id}}" [innerHTML]='book.synopsis'></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- ТАБЛИЦА ИЗДАНИЯ -->
			<table class="table table-sm table-striped table-hover" *ngIf="showEditions && editions$">
				<thead>
					<tr>
						<td>#</td>
						<td></td>
						<td>Заглавие</td>
						<td>Публикувано</td>
						<td>Издателство</td>
						<td>Страници</td>
						<td>Превод</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let edition of lib.sortObject(editions$,'book_id')">
						<td class="text-secondary" style="vertical-align: middle; text-align: center;">
							{{edition.edition_id}}
						</td>
						<td class="edition">
							<ng-template #popContent>
								<div class="cover-full-pop"><img src="assets/covers/editions/large/{{edition.edition_id}}.jpg"></div>
							</ng-template>
							<div class="cover click" [ngStyle]="{'background-image': 'url(assets/covers/editions/small/'+edition.edition_id+'.jpg)'}" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent"></div>
						</td>
						<td style="vertical-align: middle;">
							<i class="fa fa-wrench float-right" (click)="editEdition(edition);openModal(modalForms)"></i>
							<span class="book-title" title="{{edition.book_id}}">{{ edition.title }}</span>
							<span class="text-secondary ml-2" *ngIf="edition.group_id != 0"><i class="fa fa-paperclip" title="{{edition.group_id}}"></i></span>
							<div *ngIf="getEditionShorts(edition) as shorts">
								<small>
									<a data-toggle="collapse" href="#editionShorts{{edition.edition_id}}" aria-expanded="false" attr.aria-controls="editionShorts{{edition.edition_id}}" *ngIf="shorts.length > 0">
										Разкази ({{ shorts.length }})
									</a>
								</small>
								<div class="collapse" id="editionShorts{{edition.edition_id}}" *ngIf="shorts.length > 0">
									<table class="table table-sm mt-2">
										<tr *ngFor="let short of shorts">
											<td>{{ short.position }}</td>
											<td class="text-secondary">
												<i class="fa fa-wrench click float-right ml-2" (click)="editEditionShort(short);openModal(modalForms)"></i> {{ short.title }}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</td>
						<td style="text-align: center;vertical-align: middle;">
							<span class="text-secondary">{{ edition.published }}</span>
						</td>
						<td style="vertical-align: middle;">
							{{edition.publisher}}
						</td>
						<td style="vertical-align: middle;">
							{{edition.pages}}
						</td>
						<td style="vertical-align: middle;">
							{{edition.translation}}
							<div class="text-secondary" *ngIf="edition.note != ''">{{ edition.note }}</div>
						</td>
						<td style="vertical-align: middle;">
							<span class="infoLink" *ngIf="edition.goodreads > 0"><a href="https://www.goodreads.com/book/show/{{ edition.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G"></a></span>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- ТАБЛИЦА РАЗКАЗИ -->
			<table class="table table-sm table-striped table-hover" *ngIf="showShorts && shorts$">
				<thead>
					<tr>
						<td>#</td>
						<td>Заглавие</td>
						<td>Форма</td>
						<td></td>
						<td>Дата</td>
						<td style="width: 40%">Първа публикация / Инфо</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let short of lib.sortObject(shorts$,'short_id')">
						<td class="text-secondary" style="vertical-align: middle; text-align: center;">
							{{short.short_id}}
						</td>
						<td class="text-secondary" style="vertical-align: middle; text-align: center;">
							{{short.type}}
						</td>
						<td style="vertical-align: middle;">
							{{short.title}}
							<div class="text-secondary" *ngIf="short.subtitle">{{short.subtitle}}</div>
							<div *ngIf="getBookShorts(short) as shorts">
								<small>
									<a class="font-smaller" data-toggle="collapse" href="#bookShorts{{short.short_id}}" aria-expanded="false" attr.aria-controls="bookShorts{{short.short_id}}" *ngIf="shorts.length > 0">
										Книги ({{ shorts.length }})
									</a>
									</small>
								<div class="collapse" id="bookShorts{{short.short_id}}" *ngIf="shorts.length > 0">
									<table class="table table-sm mt-2">
										<tr *ngFor="let book of shorts">
											<td>{{ book.position }}</td>
											<td class="text-secondary">
												<i class="fa fa-wrench click float-right ml-2" (click)="editBookShort(book); openModal(modalForms)"></i>
												{{ getBook(book.book_id).title }}
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div *ngIf="getEditionShorts(short) as shorts">
								<small>
									<a class="font-smaller" data-toggle="collapse" href="#editionShorts{{short.short_id}}" aria-expanded="false" attr.aria-controls="editionShorts{{short.short_id}}" *ngIf="shorts.length > 0">
										Издания ({{ shorts.length }})
									</a>
								</small>
								<div class="collapse" id="editionShorts{{short.short_id}}" *ngIf="shorts.length > 0">
									<table class="table table-sm mt-2">
										<tr *ngFor="let edition of shorts">
											<td>{{ edition.position }}</td>
											<td class="text-secondary">
												<i class="fa fa-wrench click float-right ml-2" (click)="editEditionShort(edition);openModal(modalForms)"></i>
												{{ getEdition(edition.edition_id).title }}
											</td>
											<td>{{ edition.title }}</td>
										</tr>
									</table>
								</div>
							</div>
						</td>
						<td style="text-align: center;vertical-align: middle;">
							<span class="infoLink" *ngIf="short.official_site"><a href="https://stephenking.com/works/{{ short.official_site }}" target="_blank"><img src="assets/img/sk_official_32.png" width="16" alt="SK"></a></span>
							<span class="infoLink" *ngIf="short.wikipedia"><a href="https://en.wikipedia.org/wiki/{{ short.wikipedia }}" target="_blank"><img src="assets/img/wikipedia_small.png" alt="W"></a></span>
							<span class="infoLink" *ngIf="short.goodreads > 0"><a href="https://www.goodreads.com/book/show/{{ short.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G"></a></span>
							<i class="fa fa-wrench click infoLink ml-1" (click)="editShort(short);openModal(modalForms)"></i>
						</td>
						<td style="text-align: center;vertical-align: middle;">
							<span class="text-secondary">{{ short.first_pub_date }}</span>
						</td>
						<td>
							{{ short.first_pub_in }}
							<div class="text-secondary" *ngIf="short.note != ''">{{short.note}}</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- ТАБЛИЦА Екранизации -->
			<table class="table table-sm table-striped table-hover" *ngIf="showScreens && screens$">
				<thead>
					<tr>
						<td>#</td>
						<td>Заглавие</td>
						<td>Дата</td>
						<td>Тип</td>
						<td>Продукция</td>
						<td>Рейтинг</td>
						<td><i class="fa fa-clock-o"></i></td>
						<td>S</td>
						<td>E</td>
						<td><img src="assets/img/imdb.png" height="16"></td>
						<td><img src="assets/img/metacritics.png" height="16"></td>
						<td><img src="assets/img/rottentomatoes.png" height="16"></td>
						<td><i class="fa fa-money"></i></td>
						<td>Линкове</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let screen of lib.sortObject(screens$,'onscreen')">
						<td class="text-secondary">
							{{screen.onscreen_id}}
						</td>
						<td>
							<span class="user-select-all">{{screen.title}}</span>
							<div *ngIf="getScreenConnections(screen) as connections">
								<small *ngIf="connections.length > 0 ;else noConnections">
									<a data-toggle="collapse" href="#screenConnections{{screen.onscreen_id}}" aria-expanded="false" attr.aria-controls="screenConnections{{screen.onscreen_id}}">
										Връзки ({{ connections.length }})
									</a>
								</small>
								<div class="collapse" id="screenConnections{{screen.onscreen_id}}" *ngIf="connections.length > 0">
									<table class="table table-sm mt-2">
										<tr *ngFor="let connection of connections">
											<td>{{ connection.type }}</td>
											<td class="text-secondary">
												<i class="fa fa-wrench click float-right ml-2" (click)="editScreenConnection(connection);openModal(modalForms)"></i> {{ connection.info }}
											</td>
										</tr>
									</table>
									<small class="text-secondary click" (click)="editScreenConnection({onscreen_id: screen.onscreen_id,book_id: '',short_id: '', type: 'Базиран',info: 'Базиран на романа'});openModal(modalForms)"><i class="fa fa-plus"></i> Добави връзка</small>
								</div>
								<ng-template #noConnections>
									<small class="text-secondary click" (click)="editScreenConnection({onscreen_id: screen.onscreen_id,book_id: '',short_id: '', type: 'Базиран',info: 'Базиран на романа'});openModal(modalForms)"><i class="fa fa-plus"></i> Добави връзка</small>
								</ng-template>
							</div>
						</td>
						<td>
							<span class="text-secondary">{{ screen.year }}</span>
						</td>
						<td class="text-secondary">
							{{screen.type}}
						</td>
						<td class="text-secondary">
							{{screen.production}}
							{{screen.network}}
						</td>
						<td class="text-secondary">
							{{screen.rated}}
						</td>
						<td>{{screen.runtime}}</td>
						<td>{{screen.seasons}}</td>
						<td>{{screen.episodes}}</td>
						<td><a href="https://www.imdb.com/title/{{screen.imdb_id }}/" *ngIf="screen.imdb_id" target="_blank">{{screen.imdb_rating}}</a><small class="text-secondary" *ngIf="screen.imdb_votes > 0"> / {{screen.imdb_votes}}</small></td>
						<td>{{screen.rotten_tomatoes}}</td>
						<td>{{screen.metascore}}</td>
						<td><i class="fa fa-check text-secondary" *ngIf="screen.budget > 0"></i></td>
						<td>
							<span class="infoLink mr-1" *ngIf="screen.official_site"><a href="https://stephenking.com/works/{{ screen.official_site }}" target="_blank"><img src="assets/img/sk_official_32.png" width="16" alt="SK"></a></span>
							<span class="infoLink mr-1" *ngIf="screen.wikipedia"><a href="https://en.wikipedia.org/wiki/{{ screen.wikipedia }}" target="_blank"><img src="assets/img/wikipedia_small.png" alt="W"></a></span>
						</td>
						<td style="text-align: center;vertical-align: middle;">
							<i class="fa fa-wrench click infoLink ml-1" (click)="editScreen(screen);openModal(modalForms)"></i>
						</td>
					</tr>
				</tbody>
			</table>

			<div *ngIf="showData">
				<button class="btn btn-primary inline-block" (click)="exportFirestoreBooks()">Export</button>
				<div class="text-secondary mt-2">
					Книги
					<button class="btn btn-primary btn-sm" (click)="downloadJSON('books')" *ngIf="exportJSONbooks"><i class="fa fa-save"></i> Свали файл</button>
					<button class="btn btn-primary btn-sm ml-2" (click)="updateFirestoreData('books')" *ngIf="exportJSONbooks"><i class="fa fa-upload"></i> Обнови Firestore</button>
				</div>
				<textarea class="form-control mt-3" spellcheck="false" rows="4">{{ exportJSONbooks }}</textarea>
				<div class="text-secondary mt-2">
					Разкази
					<button class="btn btn-primary btn-sm" (click)="downloadJSON('shorts')" *ngIf="exportJSONshorts"><i class="fa fa-save"></i> Свали файл</button>
					<button class="btn btn-primary btn-sm ml-2" (click)="updateFirestoreData('shorts')" *ngIf="exportJSONshorts"><i class="fa fa-upload"></i> Обнови Firestore</button>
				</div>
				<textarea class="form-control mt-3" spellcheck="false" rows="4">{{ exportJSONshorts }}</textarea>
				<div class="text-secondary mt-2">
					Екранизации
					<button class="btn btn-primary btn-sm" (click)="downloadJSON('onscreen')" *ngIf="exportJSONscreens"><i class="fa fa-save"></i> Свали файл</button>
					<button class="btn btn-primary btn-sm ml-2" (click)="updateFirestoreData('onscreen')" *ngIf="exportJSONscreens"><i class="fa fa-upload"></i> Обнови Firestore</button>
				</div>
				<textarea class="form-control mt-3" spellcheck="false" rows="4">{{ exportJSONscreens }}</textarea>
				<div class="text-secondary mt-2">Sitemap <button class="btn btn-primary btn-sm" (click)="downloadXML('sitemap')" *ngIf="exportXMLsitemap"><i class="fa fa-save"></i></button></div>
				<textarea class="form-control mt-3" spellcheck="false" rows="6">{{ exportXMLsitemap }}</textarea>
			</div>
		</div>
	</div>
</div>

<ng-template #modalForms let-modal>
	<div class="modal-header py-2">
		<h4 class="modal-title" id="modal-basic-title">Добавяне / Редакция</h4>
		<button type="button" class="close mt-0 mr-n2 px-3 py-1" aria-label="Close" (click)="modal.dismiss()">
			<span class="align-text-top" aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body p-2">
<!-- #####
	 Форма Книга
	 #####
-->
		<form [formGroup]="bookForm" (ngSubmit)="onBookFormSubmit()" class="mt-3" *ngIf="showBooksForm">
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Книга</label>
				<div class="col-2">
					<input id="textinput" formControlName="book_id" class="form-control input-md" type="number">
				</div>
				<div class="col-8">
					<select formControlName="type" class="form-control">
						<option value="">Избери тип</option>
						<option *ngFor="let option of lib.book_types" value="{{option}}">{{option}}</option>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Заглавие</label>
				<div class="col-10">
					<input id="textinput" formControlName="title" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Поредица</label>
				<div class="col-8">
					<input id="textinput" formControlName="series_name" class="form-control">
				</div>
				<div class="col-2">
					<input id="textinput" formControlName="series_no" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Издание</label>
				<div class="col-3">
					<input id="textinput" formControlName="published" class="form-control" placeholder="Дата">
				</div>
				<div class="col-2">
					<input id="textinput" formControlName="pages" placeholder="Стр." class="form-control" type="number">
				</div>
				<div class="col-5">
					<input id="textinput" formControlName="publisher" placeholder="Издателство" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Псевдоним</label>
				<div class="col-10">
					<input id="textinput" formControlName="pseudonym" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Съавтори</label>
				<div class="col-10">
					<input formControlName="co_writers" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Преработки</label>
				<div class="col-10">
					<textarea formControlName="alterations" cols="40" rows="2" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Бележки</label>
				<div class="col-10">
					<textarea formControlName="note" cols="40" rows="2" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Синопсис</label>
				<div class="col-10">
					<textarea formControlName="synopsis" cols="40" rows="3" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Линкове</label>
				<div class="col-10">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/wikipedia_small.png" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="wikipedia" class="form-control" (change)="trimDomainWiki(bookForm)">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label"></label>
				<div class="col-10">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/sk_official_32.png" width="16" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="official_site" class="form-control" (change)="trimDomainSK(bookForm)">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label"></label>
				<div class="col-4">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/goodreads_small.png" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="goodreads" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Предстоящо</label>
				<div class="col-10 mt-2">
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="Yes" formControlName="upcoming" [value]="1">
						<label class="form-check-label" for="Yes">Да</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="No" formControlName="upcoming" [value]="0">
						<label class="form-check-label" for="No">Не</label>
					  </div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-right" [disabled]="!bookForm.valid"><i class="fa fa-save"></i> Запази</button>
		</form>

<!-- #####
	Форма Издания
	#####
-->
		<form [formGroup]="editionForm" (ngSubmit)="onEditionFormSubmit()" class="mt-3" *ngIf="showEditionsForm">
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Издание</label>
				<div class="col-2">
					<input formControlName="edition_id" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Оригинал</label>
				<div class="col-7">
					<select formControlName="book_id" class="form-control">
						<option value="">Избери книга</option>
						<option value='0'>Не е към книга</option>
						<option *ngFor="let book of books$" value="{{ book.book_id }}">{{ book.title }}</option>
					</select>
				</div>
				<div class="col-3">
					<input formControlName="group_id" class="form-control" placeholder="Група (Издание#)" type="number">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Заглавие</label>
				<div class="col-10">
					<input formControlName="title" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Издание</label>
				<div class="col-2">
					<input formControlName="publisher" placeholder="Издателство" class="form-control">
				</div>
				<div class="col-2">
					<input formControlName="pages" placeholder="Стр." class="form-control" type="number">
				</div>
				<div class="col-6">
					<input formControlName="published" class="form-control" placeholder="Дата">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Превод</label>
				<div class="col-10">
					<input formControlName="translation" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Бележки</label>
				<div class="col-10">
					<textarea formControlName="note" cols="40" rows="2" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Линкове</label>
				<div class="col-10">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/goodreads_small.png"
									style="vertical-align: baseline;"></div>
						</div>
						<input id="text" formControlName="goodreads" placeholder="" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Предстоящо</label>
				<div class="col-10 mt-2">
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="Yes" formControlName="upcoming" [value]="1">
						<label class="form-check-label" for="Yes">Да</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="No" formControlName="upcoming" [value]="0">
						<label class="form-check-label" for="No">Не</label>
					  </div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-right" [disabled]="!editionForm.valid"><i class="fa fa-save"></i> Запази</button>
		</form>

<!-- #####
	Форма Разкази
	#####
-->
		<form [formGroup]="shortForm" (ngSubmit)="onShortFormSubmit()" class="mt-3" *ngIf="showShortsForm">
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Разказ</label>
				<div class="col-2">
					<input id="textinput" formControlName="short_id" class="form-control input-md" type="number">
				</div>
				<div class="col-8">
					<select formControlName="type" class="form-control">
						<option value="">Избери тип</option>
						<option *ngFor="let option of lib.short_types" value="{{option}}">{{option}}</option>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Заглавие</label>
				<div class="col-10">
					<input formControlName="title" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Подзаглавие</label>
				<div class="col-10">
					<input formControlName="subtitle" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Издаден</label>
				<div class="col-3">
					<input formControlName="first_pub_date" class="form-control" placeholder="Дата">
				</div>
				<div class="col-7">
					<input formControlName="first_pub_in" placeholder="Първа публикация (не в сборник)" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Сборник</label>
				<div class="col-10">
					<select formControlName="first_collected" class="form-control">
						<option value="">Избери</option>
						<option value="0">Не е включван в сборник</option>
						<option *ngFor="let book of books$" value="{{ book.book_id }}">{{ book.title }}</option>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Синопсис</label>
				<div class="col-10">
					<textarea formControlName="synopsis" cols="40" rows="3" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Бележки</label>
				<div class="col-10">
					<textarea formControlName="note" cols="40" rows="2" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Линкове</label>
				<div class="col-10">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/wikipedia_small.png" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="wikipedia" class="form-control" (change)="trimDomainWiki(shortForm)">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label"></label>
				<div class="col-10">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/sk_official_32.png" width="16" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="official_site" class="form-control" (change)="trimDomainSK(shortForm)">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label"></label>
				<div class="col-4">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/goodreads_small.png" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="goodreads" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Предстоящо</label>
				<div class="col-10 mt-2">
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="Yes" formControlName="upcoming" [value]="1">
						<label class="form-check-label" for="Yes">Да</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="No" formControlName="upcoming" [value]="0">
						<label class="form-check-label" for="No">Не</label>
					  </div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-right" [disabled]="!shortForm.valid"><i class="fa fa-save"></i> Запази</button>
		</form>

	<!-- #####
		Форма Екранизации
		#####
	-->
		<form [formGroup]="screenForm" (ngSubmit)="onScreenFormSubmit()" class="mt-3" *ngIf="showScreensForm">
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Екранизация</label>
				<div class="col-2">
					<input id="textinput" formControlName="onscreen_id" class="form-control input-md" type="number">
				</div>
				<div class="col-3">
					<select formControlName="type" class="form-control">
						<option value="">Избери тип</option>
						<option *ngFor="let option of lib.onscreen_types" value="{{option}}">{{option}}</option>
					</select>
				</div>
				<div class="col-5 px-0">
					<div class="col-5 mr-3 btn-group">
						<input id="textinput" formControlName="imdb_id" placeholder="IMDb" class="form-control input-md" (change)="trimDomainIMDb(screenForm)">
						<span class="btn btn-primary" (click)="parseIMDb(screenForm)"><i class="fa fa-cog"></i></span>
					</div>
					<div class="col-5 btn-group">
						<input id="textinput" formControlName="tmdb_id" placeholder="TMDb" class="form-control input-md">
						<span class="btn btn-primary"><i class="fa fa-cog"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Заглавие</label>
				<div class="col-7">
					<input id="textinput" formControlName="title" class="form-control" type="text">
				</div>
				<div class="col-3 pl-0">
					<select formControlName="status" class="form-control">
						<option value="">Статус</option>
						<option *ngFor="let option of ['Обявен','Завършен','Прекратен']" value="{{option}}">{{option}}</option>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Премиера</label>
				<div class="col-2">
					<input id="textinput" formControlName="year" placeholder="Year" class="form-control" type="text">
				</div>
				<label class="col-1 pl-1 pr-0 col-form-label">Дата</label>
				<div class="col-2 pr-1 pl-0">
					<input id="textinput" formControlName="released" class="form-control px-1" type="text">
				</div>
				<label class="col-2 pr-0 col-form-label">Рейтинг</label>
				<div class="col-3 pl-0">
					<input id="textinput" formControlName="rated" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Времетраене</label>
				<div class="col-2 pr-1">
					<input id="textinput" formControlName="runtime" class="form-control" type="number">
				</div>
				<label class="col-2 pr-0 col-form-label">Сезони</label>
				<div class="col-2 pl-0">
					<input id="textinput" formControlName="seasons" class="form-control" type="number">
				</div>
				<label class="col-2 pr-0 col-form-label">Епизоди</label>
				<div class="col-2 pl-0">
					<input id="textinput" formControlName="episodes" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Режисьор</label>
				<div class="col-10">
					<input id="textinput" formControlName="directors" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Сценарист</label>
				<div class="col-10">
					<input id="textinput" formControlName="writers" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Жанр</label>
				<div class="col-10">
					<input id="textinput" formControlName="genres" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Постер</label>
				<div class="col-10">
					<input id="textinput" formControlName="poster" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Продукция</label>
				<div class="col-4">
					<input id="textinput" formControlName="production" class="form-control" type="text">
				</div>
				<div class="col-3">
					<input id="textinput" formControlName="network" class="form-control" placeholder="Канал" type="text">
				</div>
				<div class="col-3 pl-0">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fa fa-money"></i></div>
						</div>
						<input id="text" formControlName="budget" placeholder="" type="number" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Държава</label>
				<div class="col-5">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fa fa-globe"></i></div>
						</div>
						<input id="text" formControlName="country" placeholder="" type="text" class="form-control">
					</div>
				</div>
				<div class="col-5 pl-0">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fa fa-volume-up"></i></div>
						</div>
						<input id="text" formControlName="language" placeholder="" type="text" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Оценки</label>
				<div class="col-6">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="https://ia.media-imdb.com/images/G/01/imdb/images/favicon-2165806970" height="16px"></div>
						</div>
						<input id="text" formControlName="imdb_rating" placeholder="" type="number" class="form-control col-3">
						<input id="text" formControlName="imdb_votes" placeholder="" type="number" class="form-control col-9">
					</div>
				</div>
				<div class="col-2 pl-0">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="https://m.media-amazon.com/images/G/01/imdb/images/metacritic/metacritic_16x-3529960177._CB470042368_.png" height="16px"></div>
						</div>
						<input id="text" formControlName="metascore" placeholder="" type="number" class="form-control pl-1 pr-0">
					</div>
				</div>
				<div class="col-2 pl-0">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="https://www.rottentomatoes.com/assets/pizza-pie/images/icons/global/new-fresh.587bf3a5e47.png" height="16px"></div>
						</div>
						<input id="text" formControlName="rotten_tomatoes" placeholder="" type="number" class="form-control pl-1 pr-0">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Линкове</label>
				<div class="col-10">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/wikipedia_small.png" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="wikipedia" class="form-control" (change)="trimDomainWiki(screenForm)">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label"></label>
				<div class="col-10">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="assets/img/sk_official_32.png" width="16" style="vertical-align: baseline;"></div>
						</div>
						<input formControlName="official_site" class="form-control" (change)="trimDomainSK(screenForm)">
					</div>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Предстоящо</label>
				<div class="col-10 mt-2">
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="Yes" formControlName="upcoming" [value]="1">
						<label class="form-check-label" for="Yes">Да</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="No" formControlName="upcoming" [value]="0">
						<label class="form-check-label" for="No">Не</label>
					  </div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-right" [disabled]="!screenForm.valid"><i class="fa fa-save"></i> Запази</button>
		</form>

<!-- #####
	Форма Книги-Разкази
	#####
-->
		<form [formGroup]="bookShortForm" (ngSubmit)="onBookShortFormSubmit()" class="mt-3" *ngIf="showBooksShortsForm">
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Книга</label>
				<div class="col-10">
					<select formControlName="book_id" class="form-control">
						<option value="">Избери книга</option>
						<optgroup label="Книги" *ngIf="books$">
							<option *ngFor="let book of lib.sortObject(books$,'title')" value="{{ book.book_id }}">
								{{ book.title }}
							</option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Разказ</label>
				<div class="col-8">
					<select formControlName="short_id" class="form-control">
						<option value="">Избери разказ</option>
						<optgroup label="Разкази" *ngIf="shorts$">
							<option *ngFor="let short of lib.sortObject(shorts$,'title')" value="{{ short.short_id }}">
								{{ short.title }}
							</option>
						</optgroup>
					</select>
				</div>
				<div class="col-2">
					<input formControlName="position" class="form-control" type="number">
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-right" [disabled]="!bookShortForm.valid"><i class="fa fa-save"></i> Запази</button>
		</form>

<!-- #####
	Форма Издания-Разкази
	#####
-->
		<form [formGroup]="editionShortForm" (ngSubmit)="onEditionShortFormSubmit()" class="mt-3" *ngIf="showEditionsShortsForm">
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Книга</label>
				<div class="col-10">
					<select formControlName="edition_id" class="form-control">
						<option value="">Избери издание</option>
						<optgroup label="Книги" *ngIf="books$">
							<option *ngFor="let edition of lib.sortObject(editions$,'title')" value="{{ edition.edition_id }}">
								{{ edition.title + ' ('+ edition.published.split("-")[0] + ')' }}
							</option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Разказ</label>
				<div class="col-8">
					<select formControlName="short_id" class="form-control">
						<option value="">Избери разказ</option>
						<optgroup label="Разкази" *ngIf="shorts$">
							<option *ngFor="let short of lib.sortObject(shorts$,'title')" value="{{ short.short_id }}">{{ short.title }}</option>
						</optgroup>
					</select>
				</div>
				<div class="col-2">
					<input formControlName="position" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Заглавие</label>
				<div class="col-10">
					<input formControlName="title" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Подзаглавие</label>
				<div class="col-10">
					<input formControlName="subtitle" class="form-control">
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-right" [disabled]="!editionShortForm.valid"><i class="fa fa-save"></i> Запази</button>
		</form>

<!-- #####
	Форма Екранизации-Връзки
	#####
-->
		<form [formGroup]="screenConnectionForm" (ngSubmit)="onScreenConnectionFormSubmit()" class="mt-3" *ngIf="showScreenConnectionForm">
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Екранизация</label>
				<div class="col-10">
					<select formControlName="onscreen_id" class="form-control">
						<option value="">Избери екранизация</option>
						<optgroup label="Екранизация" *ngIf="screens$">
							<option *ngFor="let screen of lib.sortObject(screens$,'title')" value="{{ screen.onscreen_id }}">
								{{ screen.title + ' ('+ screen.year + ')' }}
							</option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Книга</label>
				<div class="col-10">
					<select formControlName="book_id" class="form-control">
						<option value="" selected>Избери книга</option>
						<optgroup label="Книги" *ngIf="books$">
							<option *ngFor="let book of lib.sortObject(books$,'title')" value="{{ book.book_id }}">
								{{ book.title + ' (' + book.type+')' }}
							</option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Разказ</label>
				<div class="col-10">
					<select formControlName="short_id" class="form-control">
						<option value="">Избери разказ</option>
						<optgroup label="Разкази" *ngIf="shorts$">
							<option *ngFor="let short of lib.sortObject(shorts$,'title')" value="{{ short.short_id }}">
								{{ short.title + ' (' +short.type+')' }}
							</option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Тип връзка</label>
				<div class="col-10">
					<input formControlName="type" class="form-control">
				</div>
			</div>
			<div class="form-group mb-1 row">
				<label class="col-2 col-form-label">Пояснение</label>
				<div class="col-10">
					<input formControlName="info" class="form-control">
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-right" [disabled]="!screenConnectionForm.valid"><i class="fa fa-save"></i> Запази</button>
		</form>
	</div>
</ng-template>
