<div class="container-xl">
	<div class="py-3 pt-md-5 pb-md-4 mx-auto">
		<h1>За сайта</h1>
	</div>
	<div class="row">
		<div class="col-12">
			<p>Сайта има за цел да събере информация за всички произведения на Стивън Кинг и издаваните такива в България, както и да предостави лесен начин да отбележиш прогреса си, ако си решил да прочетеш всичко от Краля на ужаса.</p>
			<p class="pt-2">Сайта е все още в процес на разработване и е възможно да има нередности.</p>
			<b>Планирани подобрения</b>
			<ul>
				<li>Разкази: Индивидуално страница за всички кратки произведения и кратко описание за тях. Все още не са добавени всички разкази в тази секция.</li>
				<li>Български издания: Списък на всички издания с индивидуална страница за всяко и възможност за отбелязване притежанието на физическо/електронно копие от изданието.</li>
				<li>Филми и сериали</li>
				<li>Комикси</li>
				<li>Новини</li>
			</ul>
		</div>
	</div>

	<div class="py-3 pt-md-5 pb-md-4 mx-auto">
		<h2>Източници</h2>
	</div>
	<div class="row">
		<div class="col-12">
			<p>Тъй като не притежавам голяма част от изданията в България, информацията за тях е събирана от много източници в интернет и е възможно да има неточности или липси, за които можете да съобщите на <a href="mailto:HeBuguM@gmail.com">този емейл</a> и с радост ще бъдат коригирани/допълнени.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h5 class="pt-md-2">Полезни връзки (на английски)</h5>
			<ul>
				<li><a href="https://stephenking.com/the_library.html" target="_blank">Официален сайт</a></li>
				<li><a href="https://en.wikipedia.org/wiki/Stephen_King_bibliography" target="_blank">Библиография (Wikipedia)</a></li>
				<li><a href="https://en.wikipedia.org/wiki/Stephen_King_short_fiction_bibliography" target="_blank">Разкази (Wikipedia)</a></li>
				<li><a href="https://en.wikipedia.org/wiki/Unpublished_and_uncollected_works_by_Stephen_King" target="_blank">Непубликувани произведения (Wikipedia)</a></li>
				<li><a href="https://en.wikipedia.org/wiki/List_of_adaptations_of_works_by_Stephen_King" target="_blank">Адаптации (Wikipedia)</a></li>
			</ul>
			<h5 class="pt-md-2">Полезни връзки (на български)</h5>
			<p class="text-secondary">Благодарности на много от потребителите на форума Тъмната кула, от където съм черпил много информация и специално на <b>deadset</b>, който е жива енциклопедия на тема Стивън Кинг.</p>
			<ul>
				<li><a href="http://www.forum.king-bg.info/index.php" target="_blank">Форум Тъмната Кула</a></li>
				<ul>
					<li><a href="http://www.forum.king-bg.info/viewtopic.php?f=10&t=713" target="_blank">Библиография</a></li>
					<li><a href="http://www.forum.king-bg.info/viewtopic.php?f=10&t=563" target="_blank">Сборници</a></li>
				</ul>
			</ul>
		</div>
	</div>

</div>
