<div class="container-xl">
	<app-loading-spinner *ngIf="loadingState"></app-loading-spinner>
	<ng-template [ngIf]="!loadingState">
		<nav class="navbar navbar-light sticky-top px-0 py-1 py-md-2 bg-white top56">
			<div class="col-6 col-sm-5 px-0">
				<input id="searchField" class="form-control" placeholder="Търси" (change)="updateSearch($event.target.value)" autocomplete="off" aria-label="Търсене">
				<i class="fa fa-search fa-fw text-secondary"></i>
			</div>
			<div class="col-2 px-0 text-center">
				<button class="col-9 col-sm-8 col-md-6 px-1 btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#Filter" aria-controls="Filter" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-filter"></i> {{filtered_shorts.length}}
				</button>
			</div>
			<div class="progress col-4 col-sm-5 px-0 position-relative">
				<div class="progress-info" *ngIf="shortsTotalCount">{{ shortsReadCount }} / {{ shortsTotalCount }}</div>
				<div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': (( shortsReadCount / shortsTotalCount ) * 100).toFixed(2) }" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="navbar-collapse collapse" id="Filter">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item mt-2">
						<div class="row">
							<div class="col-6 col-md-4 col-lg-3">
								<label><i class="fa fa-sort-amount-asc"></i> Сортиране</label>
								<select class="form-control" (change)="changeSorting($event.target.value)" [value]="getSorting()">
									<option value="first_pub_date">Първа публикация</option>
									<option value="title">Заглавие</option>
									<option value="collection_title">Сборник</option>
									<option value="collection_published">Публикация в сборник</option>
								</select>
							</div>
							<div class="col-6 col-md-4 col-lg-3">
								<label class="pt-2"><i class="fa fa-filter"></i> Филтър</label>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="filterRead" class="custom-control-input" (change)="changeFilter('read',$event.target.checked ? true : 'all')" [checked]="getFilter('read') === true">
									<label class="custom-control-label click" for="filterRead">Прочетени</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="filterUnread" class="custom-control-input" (change)="changeFilter('read',$event.target.checked ? false : 'all')" [checked]="getFilter('read') === false">
									<label class="custom-control-label click" for="filterUnread">Непрочетени</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="filterShowReadCollections" class="custom-control-input" (change)="changeFilter('read_collection',$event.target.checked)" [checked]="getFilter('read_collection')">
									<label class="custom-control-label click" for="filterShowReadCollections">Прочетен сборник</label>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-3">
								<label class="pt-2"><i class="fa fa-book"></i> Включени в сборник</label>
								<div class="row pl-3">
									<div class="col-4 col-md-4 col-xl-3 custom-control custom-checkbox">
										<input type="checkbox" id="filterCollected" class="custom-control-input" (change)="changeFilter('collected',$event.target.checked ? true : 'all')" [checked]="getFilter('collected') === true">
										<label class="custom-control-label click" for="filterCollected">Да</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" id="filterNotCollected" class="custom-control-input" (change)="changeFilter('collected',$event.target.checked ? false : 'all')" [checked]="getFilter('collected') === false">
										<label class="custom-control-label click" for="filterNotCollected">Не</label>
									</div>
								</div>
								<label class="pt-2"><i class="fa fa-language"></i> Българско издание</label>
								<div class="row pl-3">
									<div class="col-4 col-md-4 col-xl-3 custom-control custom-checkbox">
										<input type="checkbox" id="filterWithEditions" class="custom-control-input" (change)="changeFilter('bg_editions',$event.target.checked ? true : 'all')" [checked]="getFilter('bg_editions') === true">
										<label class="custom-control-label click" for="filterWithEditions">Да</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" id="filterNoEditions" class="custom-control-input" (change)="changeFilter('bg_editions',$event.target.checked ? false : 'all')" [checked]="getFilter('bg_editions') === false">
										<label class="custom-control-label click" for="filterNoEditions">Не</label>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-12 col-lg-3">
								<label class="pt-2"><i class="fa fa-asterisk"></i> Форма</label>
									<div class="row pl-3">
									<div class="custom-control custom-checkbox col-6 col-md-2 col-lg-6" *ngFor="let type of lib.short_types">
										<input type="checkbox" class="custom-control-input" id="{{type}}" (change)="changeFilter('type', $event.target.checked ? type : false)" [checked]="getFilter('type') == type">
										<label class="custom-control-label click" for="{{type}}">{{ type }}</label>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<ng-template #shortDetails let-modal>
			<div class="modal-header py-2">
				<h4 class="modal-title" id="modal-basic-title">Преглед</h4>
				<button type="button" class="close mt-0 px-3 pt-1" aria-label="Close" (click)="modal.dismiss()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2">
				<app-short *ngIf="previewShort" [short$]='previewShort'></app-short>
			</div>
		</ng-template>

		<table class="table table-sm table-hover">
			<tbody>
				<tr *ngFor="let short of filtered_shorts" [ngClass]="shortClasses(short)">
					<td class="text-center align-middle">
						<button class="btn btn-sm btn-outline-secondary infoLink button-read-toggle" *ngIf="!lib.isShortRead(short)" (click)="lib.shortReadToggle(short,true);updateReadCounter()" aria-label="Mark as read"><i class="fa fa-fw fa-check"></i></button>
						<button class="btn btn-sm btn-outline-success button-read-toggle" *ngIf="lib.isShortRead(short)" (click)="lib.shortReadToggle(short,false);updateReadCounter()" aria-label="Marks as unread"><i class="fa fa-fw fa-check"></i></button>
					</td>
					<td class="align-middle px-0">
						<span class="text-secondary d-none d-sm-inline">{{short.first_pub_date.split("-")[0] }}</span>
					</td>
					<td class="align-middle">
						<div class="media short">
							<ng-container *ngIf="short.first_collected; else noCover">
								<ng-template #popContent>
									<div class="cover-full-pop"><img src="assets/covers/books/large/{{short.first_collected}}.jpg" loading="" alt="Large"></div>
								</ng-template>
								<div class="cover click" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
									<img src="assets/covers/books/small/{{short.first_collected}}.jpg" loading="lazy" alt="">
								</div>
							</ng-container>
							<ng-template #noCover>
								<div class="cover"></div>
							</ng-template>
							<div class="media-body">
								<a class="short-title" ngb [routerLink]="[ '/short', short.short_id ]">{{ short.title }}</a>
								<small class="float-right text-secondary" *ngIf="short.type != 'Разказ'">{{ short.type }}</small>
								<div class="text-secondary">{{ short.subtitle }}</div>
								<small class="d-flex text-secondary" *ngIf="isExpanded(short) && short.first_pub_in" >{{ short.first_pub_in }} ({{short.first_pub_date.split("-")[0] }})</small>
								<small class="d-flex text-secondary" *ngIf="isExpanded(short) && short.first_collected">{{ short.collection_title }} <span class="ml-1" *ngIf="!short.first_pub_in">({{short.first_pub_date.split("-")[0] }})</span></small>
								<small class="d-flex text-secondary" *ngIf="isExpanded(short) && !short.first_collected">Не е събирано в сборник</small>
							</div>
						</div>
						<ng-template [ngIf]="short.books?.length > 0">
							<ng-template ngFor let-book [ngForOf]="short.books" let-i="index">
								<div class="media edition" *ngIf="isExpanded(short) && book.book_id != short.first_collected">
									<ng-template #popContent>
										<div class="cover-full-pop"><img src="assets/covers/books/large/{{book.book_id}}.jpg" loading="lazy" alt=""></div>
									</ng-template>
									<div class="cover click" placement="left auto" [autoClose]="'outside'" [ngbPopover]="popContent">
										<img src="assets/covers/books/small/{{book.book_id}}.jpg" loading="lazy" alt="">
									</div>
									<div class="media-body align-self-center">
										<span [ngClass]="{'crop-text-1': !isExpanded(short),'crop-text-2': isExpanded(short)}">{{ book.title }}</span>
										<div class="text-secondary" *ngIf="isExpanded(short)">{{ lib.publishedDate(book.published) }}</div>
									</div>
								</div>
							</ng-template>
						</ng-template>
					</td>
					<td class="text-center px-0 align-middle">
						<div class="btn-group infoLink d-none d-md-inline-flex">
							<button class="btn btn-sm btn-outline-secondary" (click)="previewShort = short; openShortModal(shortDetails)" aria-label="Preview"><i class="fa fa-search"></i></button>
							<button class="btn btn-sm btn-outline-secondary" (click)="expandId = (isExpanded(short) ? 0 : short.short_id)" aria-label="Expand"><i class="fa fa-expand"></i></button>
						</div>
						<div class="btn-group-vertical infoLink d-inline-flex d-md-none">
							<button class="btn btn-sm btn-outline-secondary" (click)="previewShort = short; openShortModal(shortDetails)" aria-label="Preview"><i class="fa fa-search"></i></button>
							<button class="btn btn-sm btn-outline-secondary"(click)="expandId = (isExpanded(short) ? 0 : short.short_id)" aria-label="Expand"><i class="fa fa-expand"></i></button>
						</div>
					</td>
					<td class="bgEditions align-middle">
						<ng-template [ngIf]="short.editions?.length > 0" [ngIfElse]="noEditions">
							<ng-template ngFor let-edition [ngForOf]="short.editions" let-i="index">
								<div class="media edition" *ngIf="i == 0 || isExpanded(short)">
									<ng-template #popContent>
										<div class="cover-full-pop"><img src="assets/covers/editions/large/{{edition.edition_id}}.jpg" loading="lazy" alt=""></div>
									</ng-template>
									<div class="cover click" placement="left auto" [autoClose]="'outside'" [ngbPopover]="popContent">
										<img src="assets/covers/editions/large/{{edition.edition_id}}.jpg" loading="lazy" alt="">
									</div>
									<div class="media-body align-self-center">
										<span [ngClass]="{'crop-text-1': !isExpanded(short),'crop-text-2': isExpanded(short)}">{{ edition.title }}</span>
										<span class="text-secondary" [ngClass]="{'crop-text-1': !isExpanded(short),'crop-text-2': isExpanded(short)}">{{ edition.subtitle }}</span>
										<div class="text-secondary" *ngIf="isExpanded(short)">
											<small>{{edition.edition_title}} ({{ lib.publishedDate(edition.published) }})</small>
										</div>
									</div>
								</div>
							</ng-template>
						</ng-template>
						<ng-template #noEditions>
							<small class="text-secondary"><i>Няма българско издание</i></small>
						</ng-template>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-template>
</div>
