<main>
	<app-loading-spinner *ngIf="loadingState"></app-loading-spinner>
	<ng-template [ngIf]="!loadingState">
	<div class="container-xl mt-4" *ngIf="short">
		<div class="row mt-n2 mb-3">
			<div class="col-12" style="font-size: 13px !important;">
				<ol class="m-0 p-0" itemscope itemtype="https://schema.org/BreadcrumbList">
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-home mr-1"></i>
						<a class="inherit-color-link" itemprop="item" routerLink="/" href="/"><span itemprop="name">Начало</span></a>
						  <meta itemprop="position" content="1" />
					</li>
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<a class="inherit-color-link" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="/stories" routerLink="/stories" href="/stories">
							<span itemprop="name">Разкази</span>
						</a>
						<meta itemprop="position" content="2" />
					</li>
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<a class="inherit-color-link" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="short_type" [routerLink]="['/stories/'+lib.urlType(short.type)]" href="{{ '/stories/'+lib.urlType(short.type) }}">
							<span itemprop="name">{{ short.type}}</span>
						</a>
						<meta itemprop="position" content="3" />
					</li>
					<li class="d-inline text-secondary" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<span itemprop="name">{{ short.title}}</span>
						<meta itemprop="position" content="4" />
					</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card shadow-sm text-center col-8 col-md-12 mx-auto px-0">
					<img class="card-img-top" *ngIf="short.first_collected" src="assets/covers/books/large/{{short.first_collected}}.jpg" alt="Корица">
					<img class="card-img-top bg-crow" *ngIf="!short.first_collected" src="assets/img/px.png" style="background-size: 75%" alt="Корица">
					<div class="card-body">
						<button class="btn btn-outline-secondary" *ngIf="lib.isUpcoming(short.upcoming,short.first_pub_date)" (click)="lib.shortReadToggle(short,true);" aria-label="Предстоящо издаване" disabled><i class="fa fa-fw fa-spinner"></i> Предстоящо</button>
						<button class="btn btn-outline-secondary" *ngIf="!lib.isShortRead(short) && !lib.isUpcoming(short.upcoming,short.first_pub_date)" (click)="lib.shortReadToggle(short,true);" aria-label="Отбележи като прочетено"><i class="fa fa-fw fa-check"></i> Непрочетено</button>
						<button class="btn btn-success" *ngIf="lib.isShortRead(short) && !lib.isUpcoming(short.upcoming,short.first_pub_date)" (click)="lib.shortReadToggle(short,false)" aria-label="Отбележи като непрочетено"><i class="fa fa-fw fa-check"></i> Прочетено</button>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-9 mb-4">
				<div class="pb-4">
					<a *ngIf="short.goodreads > 0" placement="top" ngbTooltip="Goodreads" class="btn btn-outline-secondary float-right m-1" href="https://www.goodreads.com/book/show/{{ short.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G" style="margin-top: -6px"></a>
					<a *ngIf="short.wikipedia != ''" placement="top" ngbTooltip="Wikipedia" class="btn btn-outline-secondary float-right m-1" href="https://en.wikipedia.org/wiki/{{ short.wikipedia }}" target="_blank"><img src="assets/img/wikipedia_small.png" alt="W" style="margin-top: -6px"></a>
					<a *ngIf="short.official_site != ''" placement="top" ngbTooltip="StephenKing.com" class="btn btn-outline-secondary float-right m-1" href="https://stephenking.com/works/{{ short.official_site }}" target="_blank"><img src="assets/img/sk_official_32.png" width="16" alt="SK" style="margin-top: -6px"></a>
					<h1>{{ short.title }}</h1>
					<h2 class="text-secondary font-italic">{{ short.subtitle }}</h2>
					<p>
						<span>от <b>Стивън Кинг</b></span>
					</p>
				</div>

				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Форма</div>
					<div class="col-8 col-md-8 col-lg-9">{{ short.type }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Първа публикация</div>
					<div class="col-8 col-md-8 col-lg-9">
						{{ lib.publishedDate(short.first_pub_date,'first_long') }}
						<span *ngIf="short.first_pub_in">&bull; {{ short.first_pub_in }}</span>
						<span *ngIf="!short.first_pub_in && short.first_collected" class="text-secondary">&bull; (В сборника)</span>
						<span class="text-secondary ml-1" *ngIf="lib.isUpcoming(short.upcoming,short.first_pub_date)">(предстоящо издание)</span>
					</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Първи сборник</div>
					<div class="col-8 col-md-8 col-lg-9" *ngIf="short.first_collected">{{short.collection_title}} &bull; {{ lib.publishedDate(short.collection_published,'first_short') }}</div>
					<div class="col-8 col-md-8 col-lg-9 text-secondary" *ngIf="!short.first_collected">Не е събирано в сборник</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters" *ngIf="short.note">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Допълнителна информация</div>
					<div class="col-8 col-md-8 col-lg-9 text-preline">{{ short.note }}</div>
				</div>

				<p class="synopsis text-secondary font-italic mt-3" [innerHTML]='short.synopsis'></p>

				<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
					<li class="nav-item" *ngIf="short.books.length > 0">
						<a class="nav-link inherit-color-link" id="books-tab" data-toggle="tab" href="#books" role="tab" aria-controls="books" aria-selected="false"><i class="fa fa-book"></i> <span class="tab-title ml-2 d-none d-sm-inline-block">Сборници</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link inherit-color-link active" id="editions-tab" data-toggle="tab" href="#editions" role="tab" aria-controls="editions" aria-selected="true"><i class="fa fa-language"></i> <span class="tab-title ml-2 d-none d-sm-inline-block">Български издания</span></a>
					</li>
					<li class="nav-item" *ngIf="short.onscreen.length > 0">
						<a class="nav-link inherit-color-link" id="screens-tab" data-toggle="tab" href="#screens" role="tab" aria-controls="screens" aria-selected="false"><i class="fa fa-film"></i> <span class="tab-title ml-2 d-none d-sm-inline-block">Екранизации</span></a>
					</li>
				</ul>
				<div class="tab-content shadow-sm" id="myTabContent">
					<div class="tab-pane fade p-2 show active" id="editions" role="tabpanel" aria-labelledby="editions-tab">
						<ng-template [ngIf]="short.editions.length > 0" [ngIfElse]="noEditions">
							<ng-template ngFor let-edition [ngForOf]="short.editions" let-i="index">
								<hr class="my-3" *ngIf="i != 0 && edition.group_id == 0">
								<div class="media my-3" style="font-size: 0.9em">
									<ng-template #popContent>
										<div class="cover-full-pop"><img src="assets/covers/editions/large/{{edition.edition_id}}.jpg"></div>
									</ng-template>
									<img class="mr-3 click rounded shadow-sm" src="assets/covers/editions/medium/{{edition.edition_id}}.jpg" [width]="86" [height]="edition.narrators ? 86 : 126" alt="Корица" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
									<div class="media-body">
										<a class="btn btn-sm btn-outline-secondary float-right" *ngIf="edition.goodreads > 0" href="https://www.goodreads.com/book/show/{{ edition.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G" style="margin-top: -4px"></a>
										<h4 class="mt-0">
											{{ edition.title }}
											<i class="fa fa-headphones ml-1" *ngIf="edition.narrators" placement="top" ngbTooltip="Аудиокнига"></i>
											<h5 class="text-secondary mt-0 mb-0 font-italic">{{ edition.subtitle }}</h5>
										</h4>
										<div class="row">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Включено в</div><div class="col-8 col-md-8 col-lg-9">{{ edition.edition_title }}</div>
										</div>
										<div class="row">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Издание</div><div class="col-8 col-md-8 col-lg-9">{{ lib.publishedDate(edition.published,'first_long') }} <span *ngIf="edition.publisher">&bull; {{ edition.publisher }}</span> <span class="text-secondary ml-1" *ngIf="lib.isUpcoming(edition.upcoming,edition.published)">(предстоящо издание)</span></div>
										</div>
										<div class="row" *ngIf="edition.narrators">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Разказвач</div><div class="col-8 col-md-8 col-lg-9">{{ edition.narrators }}</div>
										</div>
										<div class="row" *ngIf="edition.translators">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Превод</div><div class="col-8 col-md-8 col-lg-9">{{ edition.translators }}</div>
										</div>
									</div>
								</div>
							</ng-template>
						</ng-template>
						<ng-template #noEditions>
							<small class="text-secondary"><i>Няма българско издание</i></small>
						</ng-template>
					</div>
					<div class="tab-pane fade p-2" id="books" role="tabpanel" aria-labelledby="books-tab">
						<ng-template ngFor let-book [ngForOf]="short.books" let-i="index">
							<div class="media my-3" style="font-size: 0.9em">
								<ng-template #popContent>
									<div class="cover-full-pop"><img src="assets/covers/books/large/{{book.book_id}}.jpg"></div>
								</ng-template>
								<img class="mr-3 click rounded shadow-sm" src="assets/covers/books/medium/{{book.book_id}}.jpg" style="height: 126px;width:86px" alt="Корица" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
								<div class="media-body align-self-center">
									<h4 class="mt-0">
										<a [routerLink]="['/books/collection/',book.slug]" href="{{ '/books/collection/'+'/'+book.slug }}">{{ book.title }}</a>
									</h4>
									<div class="row">
										<div class="col-4 col-md-4 col-lg-3 text-secondary">Публикуван</div><div class="col-8 col-md-8 col-lg-9">{{ lib.publishedDate(book.published,'first_long') }}</div>
									</div>
									<div class="row">
										<div class="col-4 col-md-4 col-lg-3 text-secondary">Издателство</div><div class="col-8 col-md-8 col-lg-9">{{ book.publisher }}</div>
									</div>
								</div>
							</div>
						</ng-template>
					</div>
					<div class="tab-pane fade p-2" id="screens" role="tabpanel" aria-labelledby="screens-tab">
						<ng-template ngFor let-screen [ngForOf]="short.onscreen" let-i="index">
							<hr class="my-3" *ngIf="i != 0">
							<div class="media my-3" style="font-size: 0.9em">
								<ng-template #popContent>
									<div class="cover-full-pop"><img src="{{screen.poster}}"></div>
								</ng-template>
								<img class="mr-3 click rounded shadow-sm" *ngIf="screen.poster" src="{{screen.poster}}" style="height: 126px; width: 86px;" alt="Постер" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
								<img class="mr-3 rounded shadow-sm bg-crow border" *ngIf="!screen.poster" src="assets/img/px.png" style="background-size: 75%;height: 126px; width: 86px;" alt="Постер">
								<div class="media-body">
									<div class="d-inline-block align-top" style="width: calc(100% - 120px);">
										<h4 class="mt-0">
											<a [routerLink]="['/',lib.urlType(screen.type),screen.slug]" href="{{'/'+lib.urlType(screen.type)+'/'+screen.slug}}">
												{{ this.lib.screenTitle(screen.title) }}
											</a>
											<small class="text-secondary" *ngIf="screen.year" >
												({{ screen.year }})
											</small>
											<small class="text-secondary" *ngIf="lib.isUpcoming(screen.upcoming,screen.released)">(предстоящ)</small>
										</h4>
										<div class="mt-n2 mb-2">
											<div class="text-secondary font-weight-bold">{{lib.getSeriesTitle(screen.title)}}</div>
											<span *ngIf="screen.seasons"><span class="text-secondary">{{ lib.isEpisode(screen) ? 'Сезон' : 'Сезони' }}</span> <span class="ml-2 mr-3">{{ screen.seasons }}</span></span>
											<span *ngIf="screen.episodes"><span class="text-secondary">{{ lib.isEpisode(screen) ? 'Епизод' : 'Епизоди' }}</span> <span class="ml-2">{{ screen.episodes }}</span></span>
											<span class="text-secondary" *ngIf="screen.network && lib.isSeries(screen)">
												<span class="separator mx-3">|</span>
												<img class="filter-black-white opacity05" *ngIf="screen.network" src="assets/img/networks/{{lib.seoUrl(screen.network)}}.png" style="max-height: 17px;">
											</span>
											<span class="text-secondary" *ngIf="screen.status"><span class="separator mx-3">|</span>{{ screen.status}}</span>
										</div>
										<div class="row pt-1" *ngFor="let connection of screen.connections">
											<div class="col-12" *ngIf="connection.type != 'Няма'"><i class="fa fa-link"></i> {{ connection.info }}</div>
											<div class="col-12 text-secondary" *ngIf="connection.type == 'Няма'"><i class="fa fa-asterisk"></i> {{ connection.info }}</div>
										</div>
									</div>
									<div class="d-inline-block" style="width: 120px;">
										<div class="text-right mt-1" *ngIf="screen.imdb_id">
											<div class="d-inline-block" style="line-height: 11px;text-align: right;" *ngIf="screen.imdb_rating > 0">
												<span class="font-weight-bold" style="font-size: 1.3em;">{{screen.imdb_rating}}</span><small class="text-secondary">/10</small>
												<br><small class="text-secondary">{{screen.imdb_votes.toLocaleString()}}</small>
											</div>
											<a href="https://www.imdb.com/title/{{ screen.imdb_id }}" target="_blank"><img class="ml-2 float-right rounded-sm" src="assets/img/imdb.png" height="28" alt="IMDb"></a>
										</div>
										<div class="clearfix"></div>
										<div class="d-flex align-items-center justify-content-center mt-3 click" *ngIf="screen.trailer" (click)="youtubeId = screen.trailer;openPlayerModal(playerModal)">
											<i class="fa fa-play-circle fa-2x mr-2"></i> <span>Трейлър</span>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
	</ng-template>
</main>

<ng-template #playerModal let-modal>
	<div class="modal-body p-2">
		<app-player *ngIf="youtubeId" [youtubeId]="youtubeId"></app-player>
	</div>
</ng-template>
