<main>
	<div class="container-xl mt-4" *ngIf="book">
		<div class="row mt-n2 mb-3">
			<div class="col-12" style="font-size: 13px !important;">
				<ol class="m-0 p-0" itemscope itemtype="https://schema.org/BreadcrumbList">
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-home mr-1"></i>
						<a class="inherit-color-link" itemprop="item" routerLink="/" href="/"><span itemprop="name">Начало</span></a>
						  <meta itemprop="position" content="1" />
					</li>
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<a class="inherit-color-link" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="/books" routerLink="/books" href="/books">
							<span itemprop="name">Книги</span>
						</a>
						<meta itemprop="position" content="2" />
					</li>
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<a class="inherit-color-link" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="book_type" [routerLink]="['/books/'+lib.urlType(book.type)]" href="{{ '/books/'+lib.urlType(book.type) }}">
							<span itemprop="name">{{ book.type}}</span>
						</a>
						<meta itemprop="position" content="3" />
					</li>
					<li class="d-inline text-secondary" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<span itemprop="name">{{ book.title}}</span>
						<meta itemprop="position" content="4" />
					</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card shadow-sm text-center col-8 col-md-12 mx-auto px-0 ">
					<img src="assets/covers/books/large/{{book.book_id}}.jpg" class="card-img-top" alt="Корица">
					<div class="card-body">
						<button class="btn btn-outline-secondary" *ngIf="lib.isUpcoming(book.upcoming,book.published)" aria-label="Предстоящо издаване" disabled><i class="fa fa-fw fa-spinner"></i> Предстоящо</button>
						<button class="btn btn-outline-secondary" *ngIf="!lib.isBookRead(book) && !lib.isUpcoming(book.upcoming,book.published)" (click)="lib.bookReadToggle(book,true);" aria-label="Mark as read"><i class="fa fa-fw fa-check"></i> Непрочетенo</button>
						<button class="btn btn-success" *ngIf="lib.isBookRead(book) && !lib.isUpcoming(book.upcoming,book.published)" (click)="lib.bookReadToggle(book,false)" aria-label="Marks as unread"><i class="fa fa-fw fa-check"></i> Прочетенo</button>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-9 mb-4">
				<div class="pb-4">
					<a *ngIf="book.goodreads > 0" placement="top" ngbTooltip="Goodreads" class="btn btn-outline-secondary float-right m-1" href="https://www.goodreads.com/book/show/{{ book.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G" style="margin-top: -6px"></a>
					<a *ngIf="book.wikipedia != ''" placement="top" ngbTooltip="Wikipedia" class="btn btn-outline-secondary float-right m-1" href="https://en.wikipedia.org/wiki/{{ book.wikipedia }}" target="_blank"><img src="assets/img/wikipedia_small.png" alt="W" style="margin-top: -6px"></a>
					<a *ngIf="book.official_site != ''" placement="top" ngbTooltip="StephenKing.com" class="btn btn-outline-secondary float-right m-1" href="https://stephenking.com/works/{{ book.official_site }}" target="_blank"><img src="assets/img/sk_official_32.png" width="16" alt="SK" style="margin-top: -6px"></a>
					<h1>{{ book.title }}</h1>
					<p *ngIf="book.series_name" class="text-secondary">({{ book.series_name}} #{{ book.series_no}})</p>
					<p>
						<span *ngIf="book.pseudonym == ''; else Pseudonym">от <b>Стивън Кинг</b><span *ngIf="book.co_writers != ''">, {{ book.co_writers}}</span></span>
					</p>
					<ng-template #Pseudonym>
						от <b>{{ book.pseudonym}}</b> <small class="ml-2 text-secondary">(псевдоним)</small><span *ngIf="book.co_writers != ''">, {{ book.co_writers}}</span>
					</ng-template>
				</div>

				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Форма</div><div class="col-8 col-md-8 col-lg-9">{{ book.type }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters" *ngIf="book.pages">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Страници</div><div class="col-8 col-md-8 col-lg-9">{{ book.pages }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Издател</div><div class="col-8 col-md-8 col-lg-9">{{ book.publisher }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Публикуван</div><div class="col-8 col-md-8 col-lg-9">{{ lib.publishedDate(book.published,'first_long') }} <span class="text-secondary" *ngIf="lib.isUpcoming(book.upcoming,book.published)">(предстоящо издание)</span></div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters" *ngIf="book.alterations">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Други издания</div><div class="col-8 col-md-8 col-lg-9 text-preline">{{ book.alterations }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters" *ngIf="book.note">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Допълнителна информация</div><div class="col-8 col-md-8 col-lg-9 text-preline">{{ book.note }}</div>
				</div>

				<p class="synopsis text-secondary font-italic mt-3" [innerHTML]='book.synopsis'></p>

				<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
					<li class="nav-item" *ngIf="book.shorts.length > 0 || book.type == 'Сборник'">
						<a class="nav-link inherit-color-link" id="shorts-tab" data-toggle="tab" href="#shorts" role="tab"	aria-controls="shorts" aria-selected="false"><i class="fa fa-list"></i> <span class="tab-title ml-2 d-none d-sm-inline-block">Съдържание</span> <span class="badge">{{ book.shorts.length }}</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link inherit-color-link active" id="editions-tab" data-toggle="tab" href="#editions" role="tab" aria-controls="editions" aria-selected="true"><i class="fa fa-language"></i><span class="tab-title ml-2 d-none d-sm-inline-block">Български издания</span></a>
					</li>
					<li class="nav-item" *ngIf="book.onscreen.length > 0">
						<a class="nav-link inherit-color-link" id="screens-tab" data-toggle="tab" href="#screens" role="tab"	aria-controls="screens" aria-selected="false"><i class="fa fa-film"></i> <span class="tab-title ml-2 d-none d-sm-inline-block">Екранизации</span></a>
					</li>
				</ul>
				<div class="tab-content shadow-sm" id="myTabContent">
					<div class="tab-pane fade p-2 show active" id="editions" role="tabpanel" aria-labelledby="editions-tab">
						<ng-template [ngIf]="book.editions.length > 0" [ngIfElse]="noEditions">
							<ng-template ngFor let-edition [ngForOf]="book.editions" let-i="index">
								<hr class="my-3" *ngIf="i != 0 && edition.group_id == 0">
								<div class="media my-3" style="font-size: 0.9em">
									<ng-template #popContent>
										<div class="cover-full-pop"><img src="assets/covers/editions/large/{{edition.edition_id}}.jpg"></div>
									</ng-template>
									<img class="mr-3 click rounded shadow-sm" src="assets/covers/editions/medium/{{edition.edition_id}}.jpg" [width]="86" [height]="edition.narrators ? 86 : 126" alt="Корица" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
									<div class="media-body">
										<a class="btn btn-sm btn-outline-secondary float-right" *ngIf="edition.goodreads > 0" href="https://www.goodreads.com/book/show/{{ edition.goodreads }}" target="_blank"><img src="assets/img/goodreads_small.png" alt="G" style="margin-top: -4px"></a>
										<h4 class="mt-0">
											{{ edition.title }}
											<i class="fa fa-headphones ml-1" *ngIf="edition.narrators" placement="top" ngbTooltip="Аудиокнига"></i>
										</h4>
										<div class="row">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Публикувана</div><div class="col-8 col-md-8 col-lg-9">{{ lib.publishedDate(edition.published,'long') }} <span class="text-secondary ml-1" *ngIf="lib.isUpcoming(edition.upcoming,edition.published)">(предстоящо издание)</span></div>
										</div>
										<div class="row">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Издателство</div><div class="col-8 col-md-8 col-lg-9">
												{{ edition.publisher }}
												<span class="click float-right" *ngIf="lib.isEditionSelected(edition)" (click)="lib.selectBookEditionToggle(edition, false)"><i class="fa fa-check-circle text-success" style="padding: 4px 11px"></i></span>
												<span class="click float-right" *ngIf="!lib.isEditionSelected(edition)" (click)="lib.selectBookEditionToggle(edition, true)"><i class="fa fa-check-circle text-secondary" style="padding: 4px 11px"></i></span>
											</div>
										</div>
										<div class="row" *ngIf="edition.pages > 0">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Страници</div><div class="col-8 col-md-8 col-lg-9">{{ edition.pages }}</div>
										</div>
										<div class="row" *ngIf="edition.narrators">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Разказвач</div><div class="col-8 col-md-8 col-lg-9">{{ edition.narrators }}</div>
										</div>
										<div class="row" *ngIf="edition.translators || edition.shorts.length">
											<div class="col-4 col-md-4 col-lg-3 text-secondary"><span *ngIf="edition.translators">Превод</span></div>
											<div class="col-8 col-md-8 col-lg-9">{{ edition.translators }}
												<button *ngIf="edition.shorts.length" class="btn btn-sm btn-outline-secondary float-right py-0 px-1" type="button" data-toggle="collapse" [attr.data-target]="'#editionShorts'+ edition.edition_id" attr.aria-controls="editionShorts{{edition.edition_id}}" aria-expanded="false" aria-label="Toggle navigation">
													<i class="fa fa-list"></i> Съдържание <span class="badge">{{ edition.shorts.length }}</span>
												</button>
											</div>
										</div>
										<div class="row" *ngIf="edition.note">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Бележки</div><div class="col-8 col-md-8 col-lg-9">{{ edition.note }}</div>
										</div>
										<div class="row px-3" *ngIf="edition.shorts.length">
											<div class="collapse" id="editionShorts{{edition.edition_id}}">
												<table class="table table-bodered table-sm mt-2">
													<tr *ngFor="let short of lib.combineShorts(edition.shorts,book.shorts)" [hidden]="short.edition_title == ''">
														<td class="text-secondary"><small>{{ short.edition_position != 0 ? short.edition_position : ""}}</small></td>
														<td>
															{{ short.edition_title }}
															<div class="text-secondary font-italic" *ngIf="short.edition_subtitle != ''"><i>{{ short.edition_subtitle }}</i></div>
														</td>
														<td class="text-secondary pl-4"><small>{{ short.original_position != 0 ? short.original_position : ""}}</small></td>
														<td class="text-secondary">
															<a class="short-title" [routerLink]="['/stories',lib.urlType(short.type),lib.seoUrl(short.original_title)]" href="{{ '/stories/'+lib.urlType(short.type)+'/'+lib.seoUrl(short.original_title) }}">{{ short.original_title }}</a>
															<div class="text-secondary font-italic" *ngIf="short.original_subtitle != ''"> <i>{{ short.original_subtitle }}</i></div>
														</td>
														<td class="align-middle text-secondary pl-4"><small *ngIf="short.type != 'short story'">{{ short.type }}</small></td>
													</tr>
												</table>
												<div class="mb-4" *ngIf="(book.shorts.length - edition.shorts.length) > 0">
													<a data-toggle="collapse" href="#editionShortsUnpublished{{edition.edition_id}}" aria-expanded="false" attr.aria-controls="editionShortsUnpublished{{edition.edition_id}}">Виж липсващите от оригиналния сборник разкази ({{ book.shorts.length - edition.shorts.length }})</a>
													<div class="collapse" id="editionShortsUnpublished{{edition.edition_id}}">
														<table class="table table-bodered table-sm mt-2">
															<tr *ngFor="let short of lib.combineShorts(edition.shorts,book.shorts)" [hidden]="short.edition_title != ''">
																<td class="text-secondary"><small>{{ short.original_position != 0 ? short.original_position : ""}}</small></td>
																<td class="text-secondary">
																	<a class="short-title" [routerLink]="['/stories',lib.urlType(short.type),lib.seoUrl(short.original_title)]" href="{{ '/stories/'+lib.urlType(short.type)+'/'+lib.seoUrl(short.original_title) }}">{{ short.original_title }}</a>
																	<div class="text-secondary" *ngIf="short.original_subtitle != ''"> <i>{{ short.original_subtitle }}</i></div>
																</td>
																<td class="align-middle"><small class="text-secondary" *ngIf="short.type != 'short story'">{{ short.type }}</small></td>
															</tr>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-template>
						</ng-template>
						<ng-template #noEditions>
							<small class="text-secondary"><i>Няма българско издание</i></small>
						</ng-template>
					</div>
					<div class="tab-pane fade p-2" id="shorts" role="tabpanel" aria-labelledby="shorts-tab">
						<table class="table table-bodered table-sm">
							<thead>
								<tr>
									<th class="border-top-0">#</th>
									<th class="border-top-0">Заглавие</th>
									<th class="border-top-0">Първа публикация</th>
									<th class="border-top-0">Форма</th>
								</tr>
							</thead>
							<tr *ngFor="let short of book.shorts">
								<td class="text-secondary"><small>{{ short.position != 0 ? short.position : ""}}</small></td>
								<td>
									<a class="short-title" [routerLink]="['/stories',lib.urlType(short.type),lib.seoUrl(short.title)]" href="{{ '/stories/'+lib.urlType(short.type)+'/'+lib.seoUrl(short.title) }}">{{ short.title }}</a>
									<div class="text-secondary font-italic" *ngIf="short.subtitle">{{ short.subtitle }}</div>
								</td>
								<td class="align-middle">
									<small class="text-secondary" *ngIf="short.first_pub_in">{{ short.first_pub_in }} ({{lib.publishedDate(short.first_pub_date,'first_short')}})</small>
								</td>
								<td class="align-middle">
									<small class="text-secondary" *ngIf="short.type != 'short story'">{{ short.type }}</small>
								</td>
							</tr>
						</table>
					</div>
					<div class="tab-pane fade p-2" id="screens" role="tabpanel" aria-labelledby="screens-tab">
						<ng-template ngFor let-screen [ngForOf]="book.onscreen" let-i="index">
							<hr class="my-3" *ngIf="i != 0">
							<div class="media my-3" style="font-size: 0.9em">
								<ng-template #popContent>
									<div class="cover-full-pop"><img src="{{screen.poster}}"></div>
								</ng-template>
								<img class="mr-3 click rounded shadow-sm" src="{{screen.poster}}" style="height: 126px; width: 86px;" alt="Постер" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent" *ngIf="screen.poster">
								<img class="mr-3 rounded shadow-sm bg-crow border" *ngIf="!screen.poster" src="assets/img/px.png" style="background-size: 75%;height: 126px; width: 86px;" alt="Постер">
								<div class="media-body">
									<div class="d-inline-block align-top" style="width: calc(100% - 120px);">
										<h4 class="mt-0">
											<a [routerLink]="['/',lib.urlType(screen.type),screen.slug ? screen.slug : lib.seoUrl(screen.title)]" href="{{ '/'+lib.urlType(screen.type)+'/'+ (screen.slug ? screen.slug : lib.seoUrl(screen.title)) }}">
												{{ this.lib.screenTitle(screen.title) }}
											</a>
											<small class="text-secondary" *ngIf="screen.year" >
												({{ screen.year }})
											</small>
											<small class="text-secondary" *ngIf="lib.isUpcoming(screen.upcoming,screen.released)">(предстоящ)</small>
										</h4>
										<div class="mt-n2 mb-2">
											<div class="text-secondary font-weight-bold">{{lib.getSeriesTitle(screen.title)}}</div>
											<span *ngIf="screen.seasons"><span class="text-secondary">{{ lib.isEpisode(screen) ? 'Сезон' : 'Сезони' }}</span> <span class="ml-2 mr-3">{{ screen.seasons }}</span></span>
											<span *ngIf="screen.episodes"><span class="text-secondary">{{ lib.isEpisode(screen) ? 'Епизод' : 'Епизоди' }}</span> <span class="ml-2">{{ screen.episodes }}</span></span>
											<span class="text-secondary d-none d-sm-inline-block" *ngIf="screen.network && lib.isSeries(screen)">
												<span class="separator mx-3">|</span>
												<img class="filter-black-white opacity05" *ngIf="screen.network" src="assets/img/networks/{{lib.seoUrl(screen.network)}}.png" style="max-height: 17px">
											</span>
											<span class="text-secondary" *ngIf="screen.status"><span class="separator mx-3">|</span>{{ screen.status}}</span>
										</div>
										<div class="row pt-1" *ngFor="let connection of screen.connections">
											<div class="col-12" *ngIf="connection.type != 'Няма'"><i class="fa fa-link"></i> {{ connection.info }}</div>
											<div class="col-12 text-secondary" *ngIf="connection.type == 'Няма'"><i class="fa fa-asterisk"></i> {{ connection.info }}</div>
										</div>
									</div>
									<div class="d-inline-block" style="width: 120px;">
										<div class="text-right mt-1" *ngIf="screen.imdb_id">
											<div class="d-inline-block" style="line-height: 11px;text-align: right;" *ngIf="screen.imdb_rating > 0">
												<span class="font-weight-bold" style="font-size: 1.3em;">{{screen.imdb_rating}}</span><small class="text-secondary">/10</small>
												<br><small class="text-secondary">{{screen.imdb_votes.toLocaleString()}}</small>
											</div>
											<a href="https://www.imdb.com/title/{{ screen.imdb_id }}" target="_blank"><img class="ml-2 float-right rounded-sm" src="assets/img/imdb.png" height="28" alt="IMDb"></a>
										</div>
										<div class="clearfix"></div>
										<div class="d-flex align-items-center justify-content-center mt-3 click" *ngIf="screen.trailer" (click)="youtubeId = screen.trailer;openPlayerModal(playerModal)">
											<i class="fa fa-play-circle fa-2x mr-2"></i> <span>Трейлър</span>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<ng-template #playerModal let-modal>
	<div class="modal-body p-2">
		<app-player *ngIf="youtubeId" [youtubeId]="youtubeId"></app-player>
	</div>
</ng-template>
