<main>
	<div class="container-xl mt-4" *ngIf="book">
		<div class="row">
			<div class="col-md-4 col-lg-3 mb-4">
				<div class="col-8 col-md-12 mx-auto px-0 card text-center">
					<img src="assets/covers/books/large/{{book.book_id}}.jpg" class="card-img-top" alt="Корица">
					<div class="card-body">
						<button class="btn btn-outline-secondary" *ngIf="!lib.isBookRead(book)" (click)="lib.bookReadToggle(book,true);" aria-label="Mark as read"><i class="fa fa-fw fa-check"></i> Непрочетена</button>
						<button class="btn btn-success" *ngIf="lib.isBookRead(book)" (click)="lib.bookReadToggle(book,false)" aria-label="Marks as unread"><i class="fa fa-fw fa-check"></i> Прочетена</button>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-9 mb-4">
				<div class="pb-4">
					<a *ngIf="book.goodreads > 0" class="btn btn-outline-secondary float-right m-1" href="https://www.goodreads.com/book/show/{{ book.goodreads }}" target="_blank" rel="noreferrer"><img src="assets/img/goodreads_small.png" alt="G" style="margin-top: -6px"></a>
					<a *ngIf="book.wikipedia != ''" class="btn btn-outline-secondary float-right m-1" href="https://en.wikipedia.org/wiki/{{ book.wikipedia }}" target="_blank" rel="noreferrer"><img src="assets/img/wikipedia_small.png" alt="W" style="margin-top: -6px"></a>
					<a *ngIf="book.official_site != ''" class="btn btn-outline-secondary float-right m-1" href="https://www.stephenking.com/{{ book.official_site }}" target="_blank" rel="noreferrer"><img src="assets/img/sk_official_small.png" alt="SK" style="margin-top: -6px"></a>
					<h1>{{ book.title }}</h1>
					<p *ngIf="book.series_name" class="text-secondary">({{ book.series_name}} #{{ book.series_no}})</p>
					<p>
						<span *ngIf="book.pseudonym == ''; else Pseudonym">от <b>Стивън Кинг</b><span *ngIf="book.co_writers != ''">, {{ book.co_writers}}</span></span>
					</p>
					<ng-template #Pseudonym>
						от <b>{{ book.pseudonym}}</b> <small class="ml-2 text-secondary">(псевдоним)</small><span *ngIf="book.co_writers != ''">, {{ book.co_writers}}</span>
					</ng-template>
				</div>

				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Форма</div><div class="col-8 col-md-8 col-lg-9">{{ book.type }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters" *ngIf="book.pages">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Страници</div><div class="col-8 col-md-8 col-lg-9">{{ book.pages }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Издател</div><div class="col-8 col-md-8 col-lg-9">{{ book.publisher }}</div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Публикуван</div><div class="col-8 col-md-8 col-lg-9">{{ lib.publishedDate(book.published,'first_long') }} <span class="text-secondary ml-1" *ngIf="!book.pages">(предстоящо издание)</span></div>
				</div>
				<div class="row py-1 mx-0 border-top no-gutters" *ngIf="book.alterations">
					<div class="col-4 col-md-4 col-lg-3 text-secondary font-weight-bold">Преработки</div><div class="col-8 col-md-8 col-lg-9">{{ book.alterations }}</div>
				</div>

				<p class="synopsis text-secondary font-italic mt-3" [innerHTML]='book.synopsis'></p>

				<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="editions-tab" data-toggle="tab" href="#editions" role="tab" aria-controls="editions" aria-selected="true"><i class="fa fa-language"></i> Български издания</a>
					</li>
					<li class="nav-item" *ngIf="book.shorts.length > 0 || book.type == 'Сборник'">
						<a class="nav-link" id="shorts-tab" data-toggle="tab" href="#shorts" role="tab"	aria-controls="shorts" aria-selected="false"><i class="fa fa-list"></i> Разкази</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade p-2 show active" id="editions" role="tabpanel" aria-labelledby="editions-tab">
						<ng-template [ngIf]="book.editions.length > 0" [ngIfElse]="noEditions">
							<ng-template ngFor let-edition [ngForOf]="book.editions" let-i="index">
								<hr class="my-2" *ngIf="i != 0 && edition.group_id == 0">
								<div class="media my-1" style="font-size: 0.9em">
									<ng-template #popContent>
										<div class="cover-full-pop"><img src="assets/covers/editions/large/{{edition.edition_id}}.jpg"></div>
									</ng-template>
									<img src="assets/covers/editions/medium/{{edition.edition_id}}.jpg"	style="max-height: 126px;" class="mr-3 click" alt="Корица" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
									<div class="media-body">
										<a class="btn btn-sm btn-outline-secondary float-right" *ngIf="edition.goodreads > 0" href="https://www.goodreads.com/book/show/{{ edition.goodreads }}" target="_blank" rel="noreferrer"><img src="assets/img/goodreads_small.png" alt="G" style="margin-top: -4px"></a>
										<h4 class="mt-0">{{ edition.title }}</h4>
										<div class="row">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Публикувана</div><div class="col-8 col-md-8 col-lg-9">{{ lib.publishedDate(edition.published,'long') }} <span class="text-secondary ml-1" *ngIf="!edition.pages">(предстоящо издание)</span></div>
										</div>
										<div class="row">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Издателство</div><div class="col-8 col-md-8 col-lg-9">
												{{ edition.publisher }}
												<span class="click float-right" *ngIf="lib.isEditionSelected(edition)" (click)="lib.selectBookEditionToggle(edition, false)"><i class="fa fa-check-circle text-success" style="padding: 4px 11px"></i></span>
												<span class="click float-right" *ngIf="!lib.isEditionSelected(edition)" (click)="lib.selectBookEditionToggle(edition, true)"><i class="fa fa-check-circle text-secondary" style="padding: 4px 11px"></i></span>
											</div>
										</div>
										<div class="row" *ngIf="edition.pages > 0">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Страници</div><div class="col-8 col-md-8 col-lg-9">{{ edition.pages }}</div>
										</div>
										<div class="row" *ngIf="edition.translation">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Превод</div><div class="col-8 col-md-8 col-lg-9">{{ edition.translation }}</div>
										</div>
										<div class="row" *ngIf="edition.note">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Бележки</div><div class="col-8 col-md-8 col-lg-9">{{ edition.note }}</div>
										</div>
										<div class="row" *ngIf="edition.shorts.length > 0">
											<div class="col-4 col-md-4 col-lg-3 text-secondary">Разкази</div>
											<div class="col-8 col-md-9 col-lg-9"><a data-toggle="collapse" href="#editionShorts{{edition.edition_id}}" aria-expanded="false" attr.aria-controls="editionShorts{{edition.edition_id}}">{{ edition.shorts.length }}</a>
											</div>
											<div class="collapse" id="editionShorts{{edition.edition_id}}">
												<table class="table table-bodered table-sm mt-2">
													<tr *ngFor="let short of lib.combineShorts(edition.shorts,book.shorts)" [hidden]="short.edition_title == ''">
														<td>{{ short.original_position != 0 ? short.original_position : ""}}</td>
														<td class="text-secondary">
															{{ short.original_title }}
															<div class="text-secondary" *ngIf="short.original_subtitle != ''"> <i>{{ short.original_subtitle }}</i></div>
														</td>
														<td>
															{{ short.edition_title }}
															<div class="text-secondary" *ngIf="short.edition_subtitle != ''"><i>{{ short.edition_subtitle }}</i></div>
														</td>
														<td><small class="text-secondary float-right" *ngIf="short.type != 'short story'">{{ short.type }}</small></td>
													</tr>
												</table>
												<div class="mb-4" *ngIf="(book.shorts.length - edition.shorts.length) > 0">
													<a data-toggle="collapse" href="#editionShortsUnpublished{{edition.edition_id}}" aria-expanded="false" attr.aria-controls="editionShortsUnpublished{{edition.edition_id}}">Виж липсващите от оригиналния сборник разкази ({{ book.shorts.length - edition.shorts.length }})</a>
													<div class="collapse" id="editionShortsUnpublished{{edition.edition_id}}">
														<table class="table table-bodered table-sm mt-2">
															<tr *ngFor="let short of lib.combineShorts(edition.shorts,book.shorts)" [hidden]="short.edition_title != ''">
																<td>{{ short.original_position != 0 ? short.original_position : ""}}
																</td>
																<td class="text-secondary">
																	{{ short.original_title }}
																	<div class="text-secondary" *ngIf="short.original_subtitle != ''"> <i>{{ short.original_subtitle }}</i></div>
																</td>
																<td>
																	{{ short.edition_title }}
																	<div class="text-secondary" *ngIf="short.edition_subtitle != ''"><i>{{ short.edition_subtitle }}</i></div>
																</td>
																<td><small class="text-secondary float-right" *ngIf="short.type != 'short story'">{{ short.type }}</small></td>
															</tr>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-template>
						</ng-template>
						<ng-template #noEditions>
							<small class="text-secondary"><i>Няма българско издание</i></small>
						</ng-template>
					</div>
					<div class="tab-pane fade p-2" id="shorts" role="tabpanel" aria-labelledby="shorts-tab">
						<table class="table table-bodered table-sm">
							<tr *ngFor="let short of book.shorts">
								<td>{{ short.position != 0 ? short.position : ""}}</td>
								<td>
									{{ short.title }} <small class="text-secondary float-right" *ngIf="short.type != 'short story'">{{ short.type }}</small>
									<div class="text-secondary" *ngIf="short.subtitle != ''">{{ short.subtitle }}</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
