<main>
	<div class="container-xl mt-4" *ngIf="screen">
		<div class="row mt-n2 mb-3">
			<div class="col-12" style="font-size: 13px !important;">
				<ol class="m-0 p-0" itemscope itemtype="https://schema.org/BreadcrumbList">
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-home mr-1"></i>
						<a class="inherit-color-link" itemprop="item" routerLink="/" href="/"><span itemprop="name">Начало</span></a>
						  <meta itemprop="position" content="1" />
					</li>
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<a class="inherit-color-link" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="/onscreen" routerLink="/onscreen" href="/onscreen">
							<span itemprop="name">Екранизации</span>
						</a>
						<meta itemprop="position" content="2" />
					</li>
					<li class="d-inline" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<a class="inherit-color-link" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="onscreen_type" [routerLink]="['/onscreen/'+lib.urlType(screen.type)]" href="{{ '/onscreen/'+lib.urlType(screen.type) }}">
							<span itemprop="name">{{ screen.type}}</span>
						</a>
						<meta itemprop="position" content="3" />
					</li>
					<li class="d-inline text-secondary" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<i class="fa fa-angle-right mx-2 text-secondary"></i>
						<span itemprop="name">{{ screen.title}}</span>
						<meta itemprop="position" content="4" />
					</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-3 mb-4">
				<div class="card shadow-sm text-center col-8 col-md-12 mx-auto px-0 ">
					<img src="{{screen.poster}}" class="card-img-top rounded" alt="Постер" *ngIf="screen.poster">
					<img class="card-img-top bg-crow rounded border" *ngIf="!screen.poster" src="assets/img/px.png" style="background-size: 75%;min-height: 375px;" alt="Постер">
				</div>
			</div>
			<div class="col-md-8 col-lg-9 mb-4">
				<div class="pb-4">
					<h2 class="font-weight-bold">{{ this.lib.screenTitle(screen.title) }}
						<small class="text-secondary" *ngIf="screen.year" >
							({{ screen.year }})
						</small>
						<small class="text-secondary" *ngIf="lib.isUpcoming(screen.upcoming,screen.released)">(предстоящ)</small>
					</h2>
					<div class="mb-2">
						<a *ngIf="screen.tmdb_id" placement="top" ngbTooltip="The Movie Database" class="btn btn-outline-secondary float-right mx-1 mt-n1" href="https://www.themoviedb.org/{{ screen.tmdb_id }}" target="_blank"><img src="assets/img/themoviedb_32.png" alt="G" width="16" style="margin-top: -6px"></a>
						<a *ngIf="screen.wikipedia != ''" placement="top" ngbTooltip="Wikipedia" class="btn btn-outline-secondary float-right mx-1 mt-n1" href="https://en.wikipedia.org/wiki/{{ screen.wikipedia }}" target="_blank"><img src="assets/img/wikipedia_small.png" alt="W" style="margin-top: -6px"></a>
						<a *ngIf="screen.official_site != ''" placement="top" ngbTooltip="StephenKing.com" class="btn btn-outline-secondary float-right mx-1 mt-n1" href="https://stephenking.com/works/{{ screen.official_site }}" target="_blank"><img src="assets/img/sk_official_32.png" width="16" alt="SK" style="margin-top: -6px"></a>
						<span class="text-secondary">{{ screen.type }}</span>
						<span class="text-secondary" *ngIf="screen.rated"><span class="separator">|</span>{{ screen.rated }}</span>
						<span class="text-secondary" *ngIf="screen.runtime"><span class="separator">|</span> <i class="fa fa-clock-o"></i> {{ screen.runtime}}m</span>
					</div>
					<div class="mb-2" >
						<div class="text-secondary font-weight-bold">{{lib.getSeriesTitle(screen.title)}}</div>
						<span *ngIf="screen.seasons"><span class="text-secondary">{{ lib.isEpisode(screen) ? 'Сезон' : 'Сезони' }}</span> <span class="ml-2 mr-3">{{ screen.seasons }}</span></span>
						<span *ngIf="screen.episodes"><span class="text-secondary">{{ lib.isEpisode(screen) ? 'Епизод' : 'Епизоди' }}</span> <span class="ml-2">{{ screen.episodes }}</span></span>
						<span class="text-secondary" *ngIf="screen.network">
							<span class="separator mx-3">|</span>
							<img class="filter-black-white opacity05" *ngIf="screen.network" src="assets/img/networks/{{lib.seoUrl(screen.network)}}.png" style="max-height: 21px;max-width: 90px;">
						</span>
						<span class="text-secondary" *ngIf="screen.status"><span class="separator mx-3">|</span>{{ screen.status}}</span>
					</div>
					<div class="row mt-4">
						<div class="col-7 col-md-6">
							<div class="col-12 py-4">
								<div class="d-flex align-items-center" *ngIf="screen.imdb_id">
									<div class="d-inline-block " style="line-height: 11px;text-align: right;" *ngIf="screen.imdb_rating > 0">
										<span class="font-weight-bold" style="font-size: 1.8em;">{{screen.imdb_rating}}</span><small class="text-secondary">/10</small>
										<br><small class="text-secondary">{{screen.imdb_votes.toLocaleString()}}</small>
									</div>
									<span class=" font-weight-bold" style="font-size: 1.8em; line-height: 36px;" *ngIf="screen.imdb_rating <= 0">—</span>
									<a class="ml-3" href="https://www.imdb.com/title/{{ screen.imdb_id }}" target="_blank"><img class="rounded-sm" src="assets/img/imdb.png" alt="IMDb"></a>
								</div>
							</div>
							<div class="col-12 py-4">
								<div class="tomatometer d-flex align-items-center">
									<!-- <img src="assets/img/tomatometer_certified_fresh.png" alt="Certified" width="36" *ngIf="screen.metascore >= 70"> -->
									<!-- <img src="assets/img/tomatometer_fresh.png" alt="Fresh" width="36" *ngIf="screen.metascore >= 60 && screen.metascore">
									<img src="assets/img/tomatometer_rotten.png" alt="Fresh" width="36" *ngIf="screen.metascore > 0 && screen.metascore < 60"> -->
									<span class=" font-weight-bold" style="font-size: 1.8em; line-height: 36px;">{{screen.rotten_tomatoes ? screen.rotten_tomatoes + "%" : "—"}}</span>
									<span class="ml-3"><img src="assets/img/rotten_tomatoes_logo.png" alt="Rotten Tomatoes" height="36"></span>
								</div>
							</div>
							<div class="col-12 py-4">
								<div class="metascore d-flex align-items-center">
									<span *ngIf="screen.metascore > 60" class="rounded font-weight-bold" style="padding: 6px 9px; width: 36px; color: #fff;background-color: #6c3;">
										{{screen.metascore}}
									</span>
									<span *ngIf="screen.metascore >= 40 && screen.metascore <= 60" class="rounded font-weight-bold" style="padding: 6px 9px; width: 36px; color: #fff;background-color: #eeb200">
										{{screen.metascore}}
									</span>
									<span *ngIf="screen.metascore > 0 && screen.metascore < 40" class="rounded font-weight-bold" style="padding: 6px 9px; width: 36px; color: #fff;background-color: #f00;">
										{{screen.metascore}}
									</span>
									<span class="font-weight-bold" style="font-size: 1.8em; line-height: 36px;" *ngIf="!screen.metascore">—</span>
									<span class="ml-3 font-weight-bold"><img class="mr-1" src="assets/img/metacritics.png" alt="Metacritics" height="36"> Metacritic</span>
								</div>
							</div>
						</div>
						<div class="col-5 col-md-6 d-flex align-items-center justify-content-center">
							<div class="click mt-2" *ngIf="screen.trailer" (click)="youtubeId = screen.trailer;openPlayerModal(playerModal)">
								<i class="fa fa-play-circle fa-5x"></i>
								<div class="player_thumbnail" [attr.style]="returnStyle()"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="row no-gutters" *ngIf="screen.shorts.length || screen.books.length">
		<div class="col-12 mb-4 pt-3 bg-white rounded shadow-sm border">
			<ng-template ngFor let-work [ngForOf]="lib.sortObject([].concat(screen.shorts).concat(screen.books),'published')" let-i="index">
				<div class="media d-inline-flex col-12 col-md-6 col-lg-6 pb-3" style="font-size: 0.9em">
					<div *ngIf="work.book_id || work.collection_id">
						<ng-template #popContent>
							<div class="cover-full-pop"><img src="assets/covers/books/large/{{work.book_id ? work.book_id : work.collection_id}}.jpg"></div>
						</ng-template>
						<img class="mr-3 click rounded shadow-sm" src="assets/covers/books/medium/{{work.book_id ? work.book_id : work.collection_id}}.jpg" style="height: 126px; width: 86px;" alt=" " placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
					</div>
					<div class="mr-3 rounded shadow-sm border" *ngIf="!(work.book_id || work.collection_id)">
						<img class="bg-crow" src="assets/img/px.png" style="height: 126px; width: 86px;">
					</div>
					<div class="media-body">
						<div class="d-inline-block align-top">
							<h4 class="mt-0"><a [routerLink]="[work.book_id ? '/books/' : '/stories/',lib.urlType(work.type),lib.seoUrl(work.title)]" href="{{ '/books/'+lib.urlType(work.type)+'/'+lib.seoUrl(work.title) }}">{{ work.title }}</a></h4>
							<div class="text-secondary mt-n2 mb-2" *ngIf="work.series_name"><small class="font-weight-bold">{{work.series_name + ' #'+ work.series_no}}</small></div>
							<div class="text-secondary mt-n2 mb-1">{{ work.type }}</div>
							<div class="text-secondary" *ngIf="work.published">
								<div *ngIf="work.publisher">{{ work.publisher }} {{ lib.publishedDate(work.published,'first_short') }}</div>
								<div *ngIf="work.collection_id"><a class="font-weight-bold inherit-color-link" [routerLink]="['/books/collection/',lib.seoUrl(work.collection_title)]" href="{{ '/books/collection/'+'/'+lib.seoUrl(work.collection_title) }}">{{ work.collection_title }}</a> (Сборник) {{ lib.publishedDate(work.collection_published,'first_short') }}</div>
							</div>
							<div class="row pt-2">
								<div class="col-12" *ngIf="work.connection_type != 'Няма'"><i class="fa fa-link"></i> {{ work.connection_info }}</div>
								<div class="col-12 text-secondary" *ngIf="work.connection_type == 'Няма'"><i class="fa fa-asterisk"></i> {{ work.connection_info }}</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-12 mb-4 shadow-sm">
			<div class="card p-2" *ngIf="cast_crew">
				<h3 class="font-weight-bold px-2">
					Актьори
					<small class="text-secondary float-right mt-2 click" style="font-size: 14px;" *ngIf="cast_crew.cast.length > cast_limit" (click)="showAllCast()">
						{{cast_limit}} от {{ cast_crew.cast.length }} <i class="fa fa-eye-slash"></i>
					</small>
				</h3>
				<div class="card-body actors d-inline-flex flex-wrap p-0">
					<div class="cast-crew media col-12 col-md-6 col-lg-3 p-2" *ngFor="let cast of cast_crew.cast | slice:0:cast_limit">
						<div class="profile mr-3">
							<ng-template #popContent>
								<div class="cover-full-pop"><img src="{{'https://image.tmdb.org/t/p/w300'+cast.profile_path}}"></div>
							</ng-template>
							<img class="click profile-img" *ngIf="cast.profile_path" src="{{'https://image.tmdb.org/t/p/w235_and_h235_face'+cast.profile_path}}" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
							<i class="fa fa-user-circle" *ngIf="!cast.profile_path"></i>
						</div>
						<div class="media-body">
							<h5 class="mt-0">{{cast.name}}</h5>
							<div class="role" *ngIf="cast.character"><small class="text-secondary">{{cast.character}}</small></div>
							<div class="role" *ngFor="let role of cast.roles"><small class="text-secondary">{{role.character}}</small></div>
							<div class="episodes" *ngIf="cast.total_episode_count"><small class="text-secondary">{{cast.total_episode_count  + (cast.total_episode_count > 1 ? " Епизодa" : " Епизод")}} </small></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-12 mb-4 shadow-sm">
			<div class="card p-2" *ngIf="cast_crew?.crew">
				<h3 class="font-weight-bold px-2">
					Екип
					<small class="text-secondary float-right mt-2 click" style="font-size: 14px;" *ngIf="cast_crew.crew.length > crew_limit" (click)="showAllCrew()">
						{{crew_limit}} от {{ cast_crew.crew.length }} <i class="fa fa-eye-slash"></i>
					</small>
				</h3>
				<div class="card-body actors d-inline-flex flex-wrap p-0">
					<div class="cast-crew media col-12 col-md-6 col-lg-3 p-2" *ngFor="let cast of cast_crew.crew | slice:0:crew_limit">
						<div class="profile mr-3">
							<ng-template #popContent>
								<div class="cover-full-pop"><img src="{{'https://image.tmdb.org/t/p/w300'+cast.profile_path}}"></div>
							</ng-template>
							<img class="click profile-img" *ngIf="cast.profile_path" src="{{'https://image.tmdb.org/t/p/w235_and_h235_face'+cast.profile_path}}" placement="right auto" [autoClose]="'outside'" [ngbPopover]="popContent">
							<i class="fa fa-user-circle" *ngIf="!cast.profile_path"></i>
						</div>
						<div class="media-body">
							<h5 class="mt-0">{{cast.name}}</h5>
							<div class="role" *ngIf="cast.job"><small class="text-secondary">{{cast.job}}</small></div>
							<div class="role" *ngFor="let job of cast.jobs"><small class="text-secondary">{{job.job}}</small></div>
							<div class="episodes" *ngIf="cast.total_episode_count"><small class="text-secondary">{{cast.total_episode_count  + (cast.total_episode_count > 1 ? " Епизодa" : " Епизод")}} </small></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</main>

<ng-template #playerModal let-modal>
	<div class="modal-body p-2">
		<app-player *ngIf="youtubeId" [youtubeId]="youtubeId"></app-player>
	</div>
</ng-template>
