<div class="container-xl">
	<div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Стивън Кинг</h1>
		<p class="lead">Информация за произведенията на Краля на ужаса и публикуваните такива в България.</p>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-6 col-md-4 d-inline-flex">
			<div class="card shadow-sm mb-4">
				<a class="stretched-link" routerLink="books" href="/books">
					<img class="card-img" src="assets/img/home_books.jpg" alt="Книги">
				</a>
				<div class="card-body p-3">
					<h5 class="card-title mb-2">Книги</h5>
					<p class="card-text text-secondary"><small>Романи, нехуджествена литература и новели издадени като самостоятелни книги</small></p>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 d-inline-flex">
			<div class="card shadow-sm mb-4">
				<a class="stretched-link" routerLink="stories" href="/stories">
					<img class="card-img " src="assets/img/home_stories.jpg" alt="Разкази">
				</a>
				<div class="card-body p-3">
					<h5 class="card-title mb-2">Разкази</h5>
					<p class="card-text text-secondary"><small>Кратки произведения без новели издадени като самостоятелни книги</small></p>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 d-inline-flex">
			<div class="card shadow-sm mb-4">
				<a class="stretched-link" routerLink="onscreen" href="/onscreen">
					<img class="card-img " src="assets/img/home_onscreen.jpg" alt="Разкази">
				</a>
				<div class="card-body p-3">
					<h5 class="card-title mb-2">Екранизации</h5>
					<p class="card-text text-secondary"><small>Адаптации на произведенията на Кинг за големия и малкия екран</small></p>
				</div>
			</div>
		</div>
	</div>
</div>
