<div class="container-xl">
	<div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Стивън Кинг</h1>
		<p class="lead">Информация за произведенията на Краля и публикуваните такива в България.</p>
		<p class="lead">Лесен начин да следите прогреса си, ако сте решили да прочетете всяка негова творба.</p>
	</div>

	<div class="row">
		<div class="col-sm-6 mb-3">
			<div class="card">
				<img class="card-img click" src="assets/img/home_books.jpg" alt="Книги" routerLink="books">
				<div class="card-body">
					<h5 class="card-title click" routerLink="shorts">Книги</h5>
					<p class="card-text text-secondary">Основната литература включваща предимно романи и новели
						побликувани като самостоятелни книги, както и нехудожествената литература на Краля</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 mb-3">
			<div class="card">
				<img class="card-img click" src="assets/img/home_shorts.jpg" alt="Разкази" routerLink="shorts">
				<div class="card-body">
					<h5 class="card-title click" routerLink="shorts">Разкази</h5>
					<p class="card-text text-secondary">Всички кратки произведения на Кинг, включвани или не в сборници,
						с изключение на новелите публикувани като самостоятелни книги</p>
				</div>
			</div>
		</div>
	</div>
</div>
