body {
  padding-top: 3.5rem;
}
.click {
    cursor: pointer !important;
}
.help {
    cursor: help;
}
.button-read-toggle {
  padding: 4px 5.5px;
}
.progress {
	height: 38px;
	font-size: 1rem;
}
.progress .bg-success {
    background-color: #8fd19e !important;
}
.progress .progress-info {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoLink {
    opacity: 0.3;
    transition: 200ms;
}
tr:hover td .infoLink {
    opacity: 1;
}
.book .cover,
.short .cover,
.edition .cover {
    width: 50px;
    background-position: center;
    background-size: cover;
	margin-right: 5px;
	align-self: stretch;
	max-height: 72px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.5);
	-moz-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.5);
	box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.5);
}
.expanded .cover {
    height: 72px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.cover-full-pop {
	display: flex;
	width: 220px;
	height: 350px;
	justify-content: center;
	align-items: center;
}
.cover-full-pop img {
	max-width: 220px;
	max-height: 350px;
}
.media.book,
.media.short,
.media.edition {
    margin-bottom: 2px;
}
.media.book:last-of-type,
.media.short:last-of-type,
.media.edition:last-of-type {
 	 margin-bottom: 0px;
}
.synopsis {
	white-space: pre-line;
}
.crop-text-1 {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.crop-text-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.edition-expanded .crop-text-1,
.edition-expanded .crop-text-2 {
    -webkit-line-clamp: unset;
}
#searchField {
  padding: 4px 4px 4px 32px;
}
#searchField + i.fa-search {
  position: absolute;
  left: 8px;
  top: 11px;
}
.top56 {
	top: 56px !important;
}
@media (max-width: 1200px) {
  .modal-lg, .modal-xl {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
	body {
		padding-top: 3.0rem;
	}
	.top56 {
		top: 48px !important;
	}
}
