body {
  	padding-top: 3.5rem;
}
a:hover {
	text-decoration: none;
}
.click {
    cursor: pointer !important;
}
.help {
    cursor: help;
}
.button-read-toggle {
  padding: 4px 5.5px;
}
input#searchField {
	border: 1px solid #6c757d;
 }
.table-success, .table-success > td,
.table-success > th {
	background-color: #d3f2daa8;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
	background-color: #baeac5;
}
.modal-content {
	background-color: #f8f9fa;
}
.tab-content {
	background: white;
	border: 1px solid #dee2e6;
	border-top: 0px;
}
.progress {
	height: 38px;
	font-size: 1rem;
}
.progress .bg-success {
    background-color: #8fd19e !important;
}
.progress .progress-info {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoLink {
    opacity: 0.3;
    transition: 200ms;
}
tr:hover td .infoLink {
    opacity: 1;
}
.book .cover,
.short .cover,
.edition .cover {
	width: 50px;
	height: 24px;
	margin-right: 0.5rem;
	align-self: center;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.5);
	-moz-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.5);
	box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.5);
	overflow: hidden;
}
.book .cover img,
.short .cover img,
.edition .cover img {
	min-height: 48px;
	width: 50px;
	top: -24px;
	position: relative;
}
.expanded .cover {
	height: 72px;
}
.expanded .cover img {
	max-height: 72px;
	top: 0px;
}

.cover-full-pop {
	display: flex;
	width: 220px;
	height: 350px;
	justify-content: center;
	align-items: center;
}
.cover-full-pop img {
	max-width: 220px;
	max-height: 350px;
}
.media.book,
.media.short,
.media.edition {
    margin-bottom: 2px;
}
.media.book:last-of-type,
.media.short:last-of-type,
.media.edition:last-of-type {
 	 margin-bottom: 0px;
}
.text-preline,
.synopsis {
	white-space: pre-line;
}
.crop-text-1 {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.crop-text-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.edition-expanded .crop-text-1,
.edition-expanded .crop-text-2 {
    -webkit-line-clamp: unset;
}
#searchField {
  padding: 4px 4px 4px 32px;
}
#searchField + i.fa-search {
  position: absolute;
  left: 8px;
  top: 11px;
}
.top56 {
	top: 56px !important;
}

/* DARK THEME */

[data-theme="dark"] {
	background-color: #0a1016 !important;
	color: #eee;
}
[data-theme="dark"] .bg-light,
[data-theme="dark"] .bg-white {
	background-color: #0a1016 !important;
}
[data-theme="dark"] .bg-black {
	background-color: #eee !important;
}
[data-theme="dark"] .text-secondary {
	color: #878e95 !important;
}
[data-theme="dark"] h1,
[data-theme="dark"] .table,
[data-theme="dark"] .table-hover tbody tr:hover {
	color: #eee;
}
[data-theme="dark"] .custom-control-label::before {
	background-color: #0a1016;
	border: #6c757d solid 1px;
}
[data-theme="dark"] .table-success,
[data-theme="dark"] .table-success > td,
[data-theme="dark"] .table-success > th {
	background-color: #00f73808;
}
[data-theme="dark"] .table-success tbody + tbody,
[data-theme="dark"] .table-success td,
[data-theme="dark"] .table-success th,
[data-theme="dark"] .table-success thead th {
	border-top-color: #254f2e !important;
}
[data-theme="dark"] .table-hover .table-success:hover,
[data-theme="dark"] .table-hover .table-success:hover > td,
[data-theme="dark"] .table-hover .table-success:hover > th {
	background-color: #00f7380d;
}
[data-theme="dark"] .table-hover tbody tr:hover {
    background-color: rgba(55, 54, 54, 0.15);
}
[data-theme="dark"] .table td,
[data-theme="dark"] .table th {
	border-top: 1px solid #2c2e31;
}
[data-theme="dark"] .progress {
	background-color: #343a40
}
[data-theme="dark"] .progress .bg-success {
	background-color: #236632 !important;
}
[data-theme="dark"] .modal-content {
	background-color: #0a1016;
	border: 1px solid #6c757d;
}
[data-theme="dark"] .modal-header {
	border-bottom: 1px solid #6c757d;
}
[data-theme="dark"] .close {
    color: #eee;
    text-shadow: none;
}
[data-theme="dark"] .close:hover {
    color: #fff;
}
[data-theme="dark"] .card {
	background-color: #080808;
	border: 1px solid #6c757d;
}
[data-theme="dark"] .border-top {
    border-top: 1px solid #6c757d !important;
}
[data-theme="dark"] .tab-content {
	background-color: #080808;
	border: 1px solid #6c757d;
	border-top: 0px;
}
[data-theme="dark"] .nav-tabs .nav-item.show .nav-link,
[data-theme="dark"] .nav-tabs .nav-link.active {
    color: #eee;
    background-color: #080808;
	border-color: #6c757d #6c757d #080808;
}
[data-theme="dark"] .nav-tabs {
	border-bottom: 1px solid #6c757d;
}
[data-theme="dark"] .form-control {
	background-color: #0a1016;
	color: #eee;
	border: 1px solid #6c757d;
}
[data-theme="dark"] a {
	color: #57a6fb;
}
[data-theme="dark"] a:hover {
	color: #177fee;
}

[data-theme="dark"] .dropdown-item {
	color: #212529;
}
[data-theme="dark"] .dropdown-item:hover {
	color: #212529;
}

[data-theme="dark"] .book .cover,
[data-theme="dark"] .short .cover,
[data-theme="dark"] .edition .cover {
	-webkit-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.3);
	box-shadow: 1px 1px 1px 1px rgb(119, 119, 119,0.3);
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .modal-lg, .modal-xl {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
	body {
		padding-top: 3.0rem;
	}
	.top56 {
		top: 48px !important;
	}
}
